#header{
  border-bottom:1px solid   #d7d7d7 ;
  box-shadow: 0 1px 1px 1px #d7d7d7;
  background-color: #F9F9F9;
}

.top {
  background:#8DEBBF;
}

.logo{
  color:#fff;
  margin: 0;
  padding: 15px 0;
  float: left;
  font-size: 24px;
  cursor: pointer;
}

.top-support{
  padding:15px 0;
  float:left;
  margin: 0 0 0 5%;
}
.top-support li{
  float:left;
  list-style:none;
  color:#fff;
  font-size:13px;
  margin-top: 5px;
}
.top-support li:first-child{
  margin-right:17px;
}
.top-support li a{
    color:#ffffff;
    font-family: 'helvetica';
    font-weight: bold;
}

.top-support li>span.active{
  display: block;
  position: absolute;
  margin-left: 8px;
  align-items: center;
  bottom: 0;
  background: none;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ffffff;
}

.top-support li a i{
  color:#2a2955;
}
.top-support li i{
  font-size:20px;
  color:#2a2955;
  margin-right:10px;
}
.top-support li i, .top-support li span{
  float:left;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .top-support li span.active{
    display: none !important;
  }
}

@media (min-width: 1201px) {
  .top-support li span.active {
    display: block !important;
    position: absolute !important;
    margin-left: 8px !important;
    align-items: center !important;
    bottom: 0 !important;
    background: none !important;
    width: 0 !important;
    height: 0 !important;
    border-left: 12px solid transparent !important;
    border-right: 12px solid transparent !important;
    border-bottom: 12px solid #ffffff !important;
  }
}

.top-control{
  float:right;
  padding:15px 0;
  width: 180px !important;
}

.top-control a {
  color:#fff;
  text-decoration: none;
  margin-right: 20px;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.top-control a:hover {
  color:#1fad6b !important;
}

/* .top-control span{
  color:#2a2955;
  margin:0 0px;
} */

.top-control .dropdown-menu a:hover{
  color:#fff !important;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.top-offers{
  max-width:425px;
  width:100%;
  float:left;
  padding: 10px !important;
}

.dropdown-user ul{
  background-color: #8DEBBF;
}

.dropdown-user ul li a{
  color: #fff;
}

.dropdown-user ul li a:hover,
.dropdown-user ul li a.active{
  background-color: #1fad6b;
  color: #fff !important;
}

.top-control span {
  font-size: 14px;
  color: #fff;
  margin: 0;
}
