<div id="header" class="navbar-fixed-top">
  <div class="top">
    <div class="container">
      <div class="logo" routerLink="/">
        <span>SIATA.ID</span>
      </div>
      <ul class="top-support">
        <li (click)="setGender('2')">
          <a routerLink="/wanita" routerLinkActive #w_rla="routerLinkActive"><i></i>
            <span>WANITA</span>
            <span [class.active]="w_rla.isActive || isActiveGender('2')"></span>
          </a>
        </li>
        <li (click)="setGender('1')">
          <a routerLink="/pria" routerLinkActive #p_rla="routerLinkActive"><i></i>
            <span >PRIA</span>
            <span [class.active]="p_rla.isActive || isActiveGender('1')"></span>
          </a>
        </li>
      </ul>
      <app-search-bar></app-search-bar>
      <div class="top-control">
        <span class="dropdown dropdown-user">
            <a href="#" class="account-user dropdown-toggle" data-toggle="dropdown" >
            <i class='fa fa-user' ></i>
            </a>
            <ul class="dropdown-menu">
               <li *ngIf="!userService.isLoggedIn()"><a [routerLink]="'/pengguna/akun/daftar'">Register</a></li>
               <li *ngIf="!userService.isLoggedIn()"><a [routerLink]="'/pengguna/akun/masuk'">Login</a></li>
               <li *ngIf="userService.isLoggedIn()"><a [routerLink]="'/pengguna/profile'">My Account</a></li>
               <li *ngIf="userService.isLoggedIn()"><a [routerLink]="'/pengguna/transactions'">Order History</a></li>
               <li *ngIf="userService.isLoggedIn()" class="divider"></li>
               <li *ngIf="userService.isLoggedIn()" (click)="userService.logout()"><a href="#">Log Out</a></li>
             </ul>
         </span>
        <a [routerLink]="['wishlist']" class="favourite-user">
          <i class="fa fa-heart"></i>
          <span *ngIf="wishlistService.wishlist > 0">{{wishlistService.wishlist}}</span>
        </a>
        <app-cart-stiky-header></app-cart-stiky-header>
      </div>
      <div class="clearfix"></div>
      <div class="top-offers show-mobile">
        <form class="mobile-search">
          <div class="input-group">
            <input type="text" class="form-control search-wid search-header search-header-mobile" placeholder="Cari Produk" aria-describedby="basic-addon2">
            <a href="" class="input-group-addon btn-side-serach" id="basic-addon2">Cari</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
