<div id="footer">
  <!-- Footer -->
  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="quick-links">
            <div class="wid-title">Information</div>
            <hr>
            <ul>
              <li><a href="#" hidden>New Produk</a></li>
              <li><a href="#" hidden>Top Seller</a></li>
              <li><a href="#" hidden>Special</a></li>
              <li><a [href]="'/page/manufactures'">Manufactures</a></li>
              <li><a [href]="'/page/supplier'">Supplier</a></li>
              <li><a [href]="'/page/our-stories'">Our Stories</a></li>
              <li><a [href]="'/page/about-us'">About Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="quick-links">
            <div class="term">
              <div class="wid-title">My Account</div>
              <hr>
              <p>
                <a [routerLink]="'/pengguna/profile'">My Account</a><br/>
                <a [routerLink]="'/pengguna/profile'">Personal Informasi</a><br/>
                <a [routerLink]="'/pengguna/profile'">Addresses</a><br/>
                <a [routerLink]="'/pengguna/transactions/'">Order History</a><br>
                <a [routerLink]="'/wishlist'">WishList</a><br>
                <a href="#" hidden>Discounts</a><br/>
                <a href="#" hidden>Your Voucher</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="quick-links">
            <div class="quick-links">
              <div class="wid-title">Customer Service</div>
              <hr>
              <ul>
                <li><a href="/page/help-contacts">Help &amp; Contacs</a></li>
                <li><a href="/page/shipping-takes">Shipping &amp; Takes</a></li>
                <li><a href="/page/return-legacy">Return Policy</a></li>
                <li><a href="#" hidden>Carrers</a></li>
                <li><a href="/page/affliates">Affliates</a></li>
                <li><a href="/page/legal-notice">Legal Notice</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div class="quick-links">
            <div class="term">
              <div class="wid-title">Contact Info</div>
              <hr>
              <p>
                Address : Jl.Aren no 29<br>
                Jakarta Barat, Indonesia<br>
                Phone : +6221 7612391<br>
                Email : info@siata.id<br>

              </p>
              <ul class="ft-soc clearfix">
                <li><a><i class="fa fa-facebook-square"></i></a></li>
                <li><a><i class="fa fa-twitter"></i></a></li>
                <li><a><i class="fa fa-google-plus-square"></i></a></li>
                <li><a><i class="fa fa-instagram"></i></a></li>
                <li><a><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-text">
    <div class="container">
      <p>Copyright 2018. Designed and Developed by <a>Monster Teknologi Kencana </a> </p>
    </div>
  </div>
</div>
