.container1{
    padding-top: 60px;
    max-width:1170px;
    margin:0 auto;
    position:relative;
}

#bgclr {
    background-color: #fafafa;
}

.product-category{
    padding-bottom: 5%;
    padding-left: 10px;
    font-family: 'framd';
    /*background-color: #ffffff;*/
    background-color: #fafafa;
}

.image-product-category{
    width: 100px;
    height: 100px;
    background-color: #FAFAFA;
}

.product-name1{
    color:#2b2a2f;
    font-size:16px;
    /*font-weight:700;*/
    text-align:left;
    margin-top:5px;
    line-height:2em;
    height: 45px;
    padding:0;
    /*font-family: 'dinnex-medium';*/
    font-family: 'Calibri';
    /*background-color: #FAFAFA;*/
    background-color: #ffffff;
    padding-left: 0px;
    width: 200px;
    /*border: 3px solid #73AD21;*/
}

.product-name1 span{
    /*color:#7de8b6;*/
    /*color:#929292;*/
    /*color:#000000;*/
    /*font-weight:700;*/
    /*font-weight: bold;*/
    /*font-family: 'Calibri';*/

    color: #2b2a2f;
    padding-left: 0px;
    font-family: 'Calibri';
    font-weight: 500;
    margin-right: 3px;

}

.product-name1 a{
    /*color:#2b2a2f;*/
    /*color:#929292;*/
    color: #000000;
    /*font-weight: bold;*/
    text-decoration: none;
    cursor: pointer;
    padding-left: 0px;
    /*border: 1px solid black;*/
    line-height: 20.3px;
}

.product-price1{
    /*color:#7de8b6;*/
    color:#46B883;
    /*color:#929292;*/
    font-size:16px;
    margin-top:15px;
    /*font-family: 'Helvetica';*/
    font-family: 'Calibri';
    /*background-color: #FAFAFA;*/
    background-color: #FFFFFF;
    /*border: 3px solid #73AD21;*/
    /*width: 200px;*/
    /*border: 1px solid black;*/
}

.product-price1 b{
    float: left !important;
    margin-left: -7px;
}


#box1 {
    /*border: 3px solid #73AD21;*/
    width: 350px;
    height: 450px;
    padding-top:15px;
    margin-top: 5px;
    background-color: #ffffff;
}

.row {
    margin-right: -15px;
    margin-left: -7.5px;
    /*border: 3px solid #73AD21;*/
}

.row2 {
    border: 3px solid #73AD21;
}

#box {
    /*border: 3px solid #73AD21;*/
    width: 380px;
    margin: 5px;
    height: 550px;
}

#box3 {
    /*border: 3px solid #73AD21;*/
    width: 345px;
    margin-top: 25px;
    margin-left: 5px;
    height: 105px;
}

.text{
    /*autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    max-height: 60px;
    line-height: 15px;
    text-overflow: ellipsis;
}
