<div id="bgclr">
  <div class="container1">

    <div class="product-category">
      <div class="row">
        <div class="col-md-{{sizeMiddle}} col-xs-12" *ngFor="let category of categories" id="box">
          <h4 id="tulisan" class="product-category-name">{{ category.name | titlecase}}</h4>
          <div id="box1">
              <div class="clearfix"></div>
              <div class="row" *ngFor="let product of category.product_recommended">
                  <div id="box3">
                  <a [routerLink]="[category.sub_department_slug, category.kelompok_slug, product.slug]">
                    <div class="col-md-4 col-xs-4">
                      <img alt="product images" class="image-product-category"
                           [src]="product.product_variant.image.includes('product_default.png') ? product.all_image[0].image : product.product_variant.image"
                           [default]="product.all_image[0].image">
                    </div>
                  </a>
                  <div class="col-md-8 col-xs-8">
                    <div class="product-name1">
                      <span class="text">
                          <b> {{product.brand}} </b> -
                          <a [routerLink]="[category.sub_department_slug, category.kelompok_slug, product.slug]">{{product.name}}</a>
                      </span>
                    </div>
                    <div class="product-price1">
                      <div class="row">
                        <div class="col-sm-8">
                          <span></span>
                          <b>{{product.product_variant.price | currency:'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</b>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
