<div id="myCarousel" class="carousel slide" data-ride="carousel" *ngIf="productsSlider">
  <div class="carousel-inner">
    <div class="item" *ngFor="let slider of productsSlider; let i = first" [class.active]="i" lazy-load-images>
      <div class="row" *ngIf="slider && slider.length">
          <div class="col-md-3 " *ngFor="let product of slider">
            <div class="card" *ngIf="product" >
              <div class="images">
                <a [routerLink]="['/', product.tag, product.sub_department_slug, product.kelompok_slug, product.product_slug]">
                  <img alt="" class="img-responsive" [attr.data-src]="product.product_image | wrapImage">
                </a>
              </div>
              <div class="prod-desc">
                <div class="product-name">
                  <span class="text">
                    <b>{{product.brand}}</b> -
                    <a [routerLink]="['/', product.tag, product.sub_department_slug, product.kelompok_slug, product.product_slug]">{{product.product_name ? product.product_name : product.name}}
                    </a>
                  </span>
                </div>

                <div class="product-price">
                  <div class="row">
                    <div class="col-sm-10" *ngIf="product.promo_price">
                      <span>{{product.price | currency : 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</span>
                      <b>{{product.promo_price | currency : 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</b>
                    </div>
                    <div class="col-sm-10" *ngIf="!product.promo_price">
                      <span></span>
                      <b>{{product.price | currency : 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</b>
                    </div>

                    <div class="col-sm-1">
                      <a  [(ngModel)]="product.isWishlist" class="favourite" (click)="tgButton(product)" ngDefaultControl>
                        <i [@tgFavorite]="product.isWishlist ? 'actived' : 'unActive'" class="{{product.isWishlist ? 'fa fa-heart':'fa fa-heart-o'}}"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <a class="left leftkidal carousel-control valign-center" href="#myCarousel" data-slide="prev" *ngIf="productsSlider && productsSlider[0] && productsSlider[0].length"><i class="glyphicon glyphicon-chevron-left"></i></a>

  <a class="right rightkidal carousel-control valign-center" href="#myCarousel" data-slide="next" *ngIf="productsSlider && productsSlider[0] && productsSlider[0].length"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
