.prdct-grid{
  margin-bottom:40px;
  min-height:375px;
  /*position: fixed;*/
}
.product-listing.grid .prdct-grid{
  margin-bottom:40px;
  min-height:403px;
}

.newest-content{
  padding-top:36px;
  padding-bottom:60px;
}
.newest-content{
  text-align:center;
}
.newest-content .newest{
  display:inline-block;
}
.nav-tabs.newest{
  border:none;
  /*margin-bottom:40px;*/
  margin-bottom:-5px;
}
.nav-tabs.newest>li{
  margin-right:30px;
}
.nav-tabs.newest>li:last-child{
  margin-right:0px;
}
.nav-tabs.newest>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border:none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  /*font-weight:700;*/
  font-weight:bold;
  font-size: 13px;
  color:#7de8b6;
  text-transform:uppercase;
  padding-left:0;
  padding-right:0;
  font-family: 'helvetica';
}
.nav-tabs.newest>li.active>a,
.nav-tabs.newest>li.active>a:focus,
.nav-tabs.newest>li.active>a:hover{
  cursor: default;
  background-color: #fff;
  border:none;
  border-bottom: 2px solid #7de8b6;
  font-family: 'helvetica-bold';
  color: #1fad6b;

}
.nav-tabs.newest>li>a:hover{
  background:none;
  border:none;
  /*border-bottom: 2px solid #7de8b6;*/
  font-family: 'helvetica-bold';
  color: #1fad6b;
}


.product-name{
  color:#2b2a2f;
  font-size:18px;
  /*font-weight:700;*/
  text-align:left;
  /*margin-top:20px;*/
  line-height:18px;
  margin-top: 0px;
  /*padding:0;*/
  padding: 8px;
  margin-left: 0px;
  /*font-family: 'dinnex-medium';*/
  font-family: 'Calibri';
  /*background-color: #FAFAFA;*/
  /*background-color: #ffffff;*/
  /*border: 3px solid #73AD21;*/
  /*padding-left: 15px;*/
  /*width: 245px;*/
  background-color: #fafafa;
}

.product-name span{
  /*color:#7de8b6;*/
  /*color:#929292;*/
  /*font-weight:700;*/
  /*font-weight: bold;*/
  /*color:#000000;*/
  /*font-family: 'Calibri';*/
  /*margin-left: -3px;*/
  color: #2b2a2f;
  padding-left: 0px;
  font-family: 'Calibri';
  font-weight: 500;
  margin-right: 3px;

}

.product-name a{
  /*color:#2b2a2f;*/
  color:#929292;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.3em;
}

/*.product-price{*/
  /*!*color:#7de8b6;*!*/
  /*color:#46B883;*/
  /*font-size:18px;*/
  /*margin-top:5px;*/
  /*padding-left: 15px;*/
  /*!*font-family: 'Helvetica';*!*/
  /*font-family: 'Calibri';*/
  /*!*background-color: #FAFAFA;*!*/
  /*!*background-color: #FFFFFF;*!*/
  /*!*border: 3px solid #73AD21;*!*/
  /*width: 245px;*/
  /*background-color: #fafafa;*/
/*}*/
.product-price{
  /*color:#7de8b6;*/
  color:#46B883;
  font-size:18px;
  margin-top:5px;
  /*padding-left: 15px;*/
  font-family: 'Calibri';
  width: 245px;
  background-color: #fafafa;
  /*border: 1px solid black;*/
  position: absolute;
  bottom: 25px;
}

.product-price span{
  text-decoration: line-through;
  color:#878788;
  float: left !important;
  font-size: 13px;
  padding-left: 0px;
}

.product-price b{
  float: left !important;
  margin-left: 8px;
  font-weight: bold;
  font-size: 16px;
}

.product-price a{
  color: #7de8b6;
  float: right !important;
  cursor: pointer;
  text-decoration: none;
}

.box2 {
  /*width: 255px;*/
  /*!*border: 3px solid #73AD21;*!*/
  /*background-color: #fafafa;*/
  /*min-height: 400px;*/
  width: 255px;
  height: 420px;
  /*border: 3px solid #73AD21;*/
  /*min-height: 390px;*/
  position : relative;
}

.fa-heart-o:before {
  content: "\f08a";
  color: #7de8b6;
}

.text{
  /*autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  max-height: 66px;
  line-height: 15px;
  text-overflow: ellipsis;
}

.images {
  height: 280px;
  width: 100%;
}

.img-prod {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.prod-desc {
  height: 130px;
  background-color: #fafafa;
  width: 100%;
  display: block;
  padding: 8px;
}


