<div class="col-md-12 col-sm-12 col-xs-12">
  <ul class="pagination" *ngIf="totalPages > 1">
    <li [class.disabled]="current_page === 1"><a (click)="current_page > 1 ? loadPage(current_page-1) : ''"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
    <li *ngFor="let i of calculatePages(totalPages)" [class.disabled]="current_page === i"><a (click)="i !== current_page ? loadPage(i) : ''">{{i}}</a></li>
    <li [class.disabled]="current_page === totalPages"><a (click)="totalPages > current_page ? loadPage(current_page+1) : ''"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
  </ul>
</div>
