<div class="subscribe-payment">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-8">
        <form class="form-inline">
          <div class="row form-subscribe">
            <label class="col-md-4 col-sm-4 col-xs-4 control-label"><i class="glyphicon glyphicon-envelope"></i> SIGNUP NEWSLATER</label>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <input type="email" name="email" class="form-control" autocomplete="off" placeholder="Input Email" #emailSubscriber>
              <button 
                type="submit" name="submit" class="btn btn-default" 
                (click)="subscribe(emailSubscriber.value);emailSubscriber.value='';">
                <p>KIRIM</p>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 payment-view" lazy-load-images>
        <img alt="payment" [attr.data-src]="'assets/images/paypal.png'">
        <img alt="payment" [attr.data-src]="'assets/images/discover.png'">
        <img alt="payment" [attr.data-src]="'assets/images/visa-electron.png'">
        <img alt="payment" [attr.data-src]="'assets/images/visa.png'">
        <img alt="payment" [attr.data-src]="'assets/images/master-card.png'">
      </div>
    </div>
  </div>
</div>

<swal #confirmSwal 
            title= "Sukses" 
            text= "Terima kasih sudah subscribe SIATA! Kami akan mengirim info yang bermanfaat bagi anda"
            type= "success"
            ></swal>
<swal #failSwal
            title= "Kesalahan!" 
            text= "Maaf email sudah tersedia atau email yang anda masukan tidak sesuai format email"
            type= "error"
            ></swal>

<swal #warningSwal 
            title= "Opss!" 
            text= "Silahkan isi email anda terlebih dahulu"
            type= "warning"
            ></swal>
