.subscribe-payment{
  background-color:  #2a2a2a;
  height: 60px;
}

.payment-view{
  margin-top: 12px;
  float: right;
}

.payment-view img{
  padding-left: 5px;
  width: 40px;
  height: 30px;
}

.form-subscribe{
  margin-top: 12px;
}

.form-subscribe label{
  margin-top: 10px;
  color: #fff;
}

.form-subscribe input{
  background-color:  #181818;
  color: #fff;
  border-radius:0;
}

.form-subscribe button{
  border: 1px solid;
  background-color:  #181818;
  color: #fff;
  border-radius:0;
}


input[name='email']{
  height:30px;
}

button[name="submit"]{
  height:30px;
}

p {
  margin-left: 0px;
  margin-top: -2px;
}
