<div class="filter-border" *ngIf="colors && colors.length"></div>
<div class="row" *ngIf="colors && colors.length">
  <h5>Warna</h5>
</div>
<div class="row" *ngIf="colors && colors.length">
  <div class="col-md-12 col-sm-12 col-xs-12 filter-color-option" *ngIf="colors && colors.length">
    <label class="normal-font" [attr.label-value]="color | titlecase" *ngFor="let color of colors; let i = index">
      <input type="checkbox" [value]="color" [attr.label-value]="color"
             [(ngModel)]="active[i]"
             (ngModelChange)="selectColor(color, i)">
      {{color | titlecase}}
    </label>
  </div>
</div>
