<div id="content" class="content-fixed">
  <!-- Content -->
  <div class="container content-top">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body panel-box-title">
            <h5>Wishlist</h5>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default panel-box-wishlist">
          <div class="panel-body">
            <span *ngIf="wishlistService.wishlist == 0">Tidak ada product dalam list keinginan anda</span>
            <div class="row wishlist-list" *ngFor="let item of list_item;">
              <div class="col-md-1 col-sm-1 col-xs-4" lazy-load-images>
                <!-- Change link from:img to detail product -->
                <a [routerLink]="['/', gender, item.sub_department_slug, item.kelompok_slug, item.product_slug]" *ngIf="item">
                  <img alt="product image" class="img-responsive" [attr.data-src]="item.product_image | wrapImage">
                </a>
              </div>
              <div class="col-md-5 col-sm-5 col-xs-8">
              <a [routerLink]="['/', gender, item.sub_department_slug, item.kelompok_slug, item.product_slug]" *ngIf="item">
                <span class="product-name">{{item.brand }} - {{item.product_name}} </span></a>
                <div class="row wishlist-details">
                  <div id="variant" *ngIf="item.size">
                    Ukuran : {{item.size}}
                  </div>
                  <div id="variant" *ngIf="item.color">
                    Warna: {{item.color}}
                  </div>
                </div>
              
                <!--<div class="clearfix"></div>-->
                <button id="delete" (click)="deleteWishlist(item.product_id)" class="btn btn-default btn-wishlist-deleted"><i class="fa fa-trash"></i></button>
              </div>
              <div id="keterangan" class="col-md-1 col-sm-1 col-xs-12">
                <span class="info-stock" [ngStyle]="{'color': item.stok > 0 ? '#2b2a2f' : 'red'}">{{item.stok == 0 ? 'Stock Habis': item.stok }}</span>
              </div>
              <div id="price" class="col-md-2 col-sm-2 col-xs-6">
                <span class="product-price">{{item.price | currency: 'Rp  ':'symbol':'1.0-0' | customCurrency}}</span>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-6 btn-wishlist">
                <button [routerLink]="['/', gender, item.sub_department_slug, item.kelompok_slug, item.product_slug]"
                        class="btn btn-default btn-wishlist-order">Lihat Produk</button>
              </div>
            </div>
            <app-pagination
              [totalPages]="totalPages"
              [current_page]="current_page"
              (requestedPage)="all($event)"></app-pagination>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
