@media (min-width: 992px) {
    .col-md-1 {
        width: 12.333333%%;
    }
}

#variant {
    margin-left: 15px;
}

.fa-trash:before {
    content: "\f1f8";
    color: #9e9e9e;
}

#delete {
    margin-left: -10px;
    margin-top: -4px;
}

#keterangan {
    margin-left: 50px;
    margin-top: 10px;
    text-align: center;
}

#price {
    margin-top: 10px;
}
