<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row account-profile" *ngIf="user">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 account-profile-avatar">
          <img [src]="user.avatar" alt="Avatar" class="image-radius" *ngIf="user.avatar">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 account-profile-name">
          <table>
            <tbody>
            <tr>
              <td>
                <div class="clearfix"></div>
                <span class="font-bold user-profile-name">{{ user.name | titlecase }}</span>
                <!--<span class="bergabung">Sejak 1 November 2018</span>-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="filter-border"></div>
      <div class="sidenav menu-sidebar">
        <a [routerLink]="'/pengguna/profile'" class="dropdown-btn" routerLinkActive="active" #rlp="routerLinkActive">
          <span>Profile Saya</span>
          <i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': rlp.isActive, 'glyphicon-chevron-left': !rlp.isActive}"></i>
        </a>
        <div [ngClass]="rlp.isActive ? 'dropdown-container-active' : 'dropdown-container'" style="display: block;" *ngIf="rlp.isActive">
          <a [routerLink]="'/pengguna/profile'" [ngClass]="rlp.isActive ? 'active' : ''">Pengaturan</a>
        </div>

        <a [routerLink]="'/pengguna/transactions'" class="dropdown-btn" routerLinkActive="active" #rlt="routerLinkActive">
          <span>Pembelian</span>
          <i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': rlt.isActive, 'glyphicon-chevron-left': !rlt.isActive}"></i>
        </a>
        <div class="dropdown-container" style="display: block;" *ngIf="rlt.isActive">
          <a [routerLink]="'/pengguna/transactions'" [ngClass]="rlt.isActive ? 'active' : ''">Detail Transaksi</a>
        </div>
        <a class="dropdown-btn" id="kotakmasuk">
          <span>Kotak Masuk</span>
          <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
        <div class="dropdown-container">
          <a href="#chat">Chat</a>
          <a href="#ulasan">Ulasan</a>
          <a href="#diskusi">Diskusi Produk</a>
        </div>
      </div>
    </div>
  </div>
</div>
