<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-1"></div>
  <div class="col-md-8 col-sm-8 col-xs-10 reset-password">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><i class="fa fa-check" *ngIf="isSubmitted"></i> {{textTitle}}</h3>
        <form class="form-reset-password" *ngIf="!isSubmitted || !isSubmitFail">
          <div class="form-group">
            <label class="normal-font">Email address:</label>
            <input type="email" class="form-control" name="email" placeholder="Masukkan Email" [formControl]="email">
            <small class="help-block" *ngIf="!email.valid && (email.touched || email.dirty)">Masukan alamat email yang benar</small>
          </div>
          <div class="form-group" *ngIf="email.valid && (email.touched || email.dirty)">
            <button type="submit" class="btn btn-md btn-reset-password lupa-password" (click)="reset()">KIRIM</button>
          </div>
        </form>
        <div class="link-to-register-login">
          Kembali ke halaman <a [routerLink]="['/pengguna/akun/masuk']">Login</a> atau
          <a [routerLink]="['/pengguna/akun/daftar']">Daftar</a>
        </div>
      </div>
    </div>
  </div>
</div>
