<div class="top-offers">
  <form class="form-search">
    <div class="input-group">
      <input type="text" class="form-control search-wid search-header"
             placeholder="Cari Produk" aria-describedby="basic-addon2"
             (keyup)="clearTimeOut()" [formControl]="searchControl">
      <a (click)="search()"
         class="input-group-addon btn-side-serach" id="basic-addon2">Cari</a>
    </div>

    <div class="searchsuggest"
         *ngIf="(suggestions$ | async)?.length && searchControl.value.length && suggestions$ | async as suggestions;"
         [class.visible]="(suggestions$ | async)?.length">
      <ul class="fsm">
        <li class="ssg-item--header">Rekomendasi Produk</li>
        <li class="ssg-item js-search__product_suggest" id="ac-6" *ngFor="let suggestion of suggestions" (click)="closeSuggestion()" lazy-load-images>
          <a [title]="suggestion.product_name" [href]="'/' + suggestion.product_slug" rel="prefetch">
            <img class="ssg-item__product-image"
                 [alt]="suggestion.product_name"
                 [attr.data-src]="suggestion.product_image | wrapImage">
            <div class="ssg-item__product-info">
              <div class="ssg-item__product-name">{{suggestion.product_name}}</div>
              <div class="ssg-item__product-prices" *ngIf="suggestion.promo_price; else no_promo">
                <span class="ssg-item__product-price ssg-item__product-price--old">
                   <span>{{suggestion.price | currency : 'Rp ': 'symbol' : '1.0-0'}}</span>
                </span>

                <span class="ssg-item__product-price ssg-item__product-price--special">
                  SEKARANG
                  <span>{{suggestion.promo_price | currency : 'Rp ': 'symbol' : '1.0-0'}}</span>
                </span>
              </div>
              <ng-template #no_promo>
                <div class="ssg-item__product-prices">
                  <span class="ssg-item__product-price ssg-item__product-price--old">
                     <span>{{suggestion.price | currency : 'Rp ': 'symbol' : '1.0-0'}}</span>
                  </span>
                </div>
              </ng-template>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <ng-template #noResult>
      <div class="searchsuggest" style="display: block">
        <ul class="fsm">
          <li class="ssg-item--header">Belum ada hasil untuk kata kunci {{searchControl.value}}</li>
        </ul>
      </div>
    </ng-template>
  </form>
</div>
