.top-offers {
  max-width:425px;
  width:100%;
  float:left;
  padding: 10px !important;
}
.form-search{
  /*width: 100% !important;*/
  width: 600px !important;
}
.search-header{
  background-image: url(/assets/images/btn-search.png);
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: 5px;
  background-size: 30px;
  display:block;
  padding-left: 30px;
}

.search-wid{
  height:40px;
  border:1px solid #f9f9f9;
  box-shadow:none;
  /*background: #f9f9f9*/
}
.search-wid:focus{
  border:1px solid #f9f9f9;
  box-shadow:none;
  /*background: #f9f9f9 */
}

.form-control::-webkit-input-placeholder {
  color: #E7E6E6;
  font-family: "Helvetica"
}

.btn-side-serach{
  font-size: 18px;
  color:#fff;
  /*background: #52e09e;*/
  /*border: 1px solid #67e4aa ;*/
  background:#52e09e;
  border: 1px solid #52e09e;
  padding-left:23px;
  padding-right:23px;
  text-decoration: none !important;
  cursor: pointer;
}
.btn-side-serach:hover, .btn-side-serach:focus{
  color:#fff;
  /*background: #1fad6b;*/
  background:#1fad6b;
  border: 1px solid #1fad6b ;
  padding-left:23px;
  padding-right:23px;
  border-left:none;
}

/*============ suggestion search start ==========*/
.searchsuggest {
  background-color: #fff;
  border: 1px solid #ccc;
  /*left: 1px;*/
  position: absolute;
  top: 50px;
  z-index: 102;
  width: 520px;
  display: none;
}
.fsm {
  font-size: 14px;
}
.ssg-item--header {
  color: #6d6e6e;
  cursor: auto;
  padding: 5px;
  text-align: right;
}

dd, fieldset, ol, ul {
  margin: 0;
  padding: 0;
}

dd,ol, ul {
  list-style: none none;
}

.ssg-item {
  position: relative;
}
.ssg-item.s-selected a, .ssg-item a:active, .ssg-item a:focus, .ssg-item a:hover {
  background-color: #eaeaea;
  text-decoration: none;
}
.ssg-item a {
  display: block;
  padding: 5px;
  color: #000;
}

.ssg-item__product-image {
  display: inline-block;
  height: auto;
  left: 5px;
  margin-right: 5px;
  position: absolute;
  top: 5px;
  width: 40px;
}

.ssg-item__product-info {
  margin-left: 45px;
  min-height: 40px;
}

.ssg-item__product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.ssg-item__product-price--old {
  color: #777575;
}

.ssg-item__product-price--special {
  color: #820000;
  padding-left: 5px;
}
/*========= suggest search end =========*/

.visible {
  display: block;
}
