<div class="col-md-2 col-sm-2 col-xs-1"></div>
<div class="col-md-8 col-sm-8 col-xs-10 register-login">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row registerlogin">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <h4 routerLinkActive="active"><a routerLink="daftar" >Daftar</a></h4>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <h4 routerLinkActive="active"><a routerLink="masuk">Masuk</a></h4>
        </div>
      </div>

      <div class="row rows-register-login">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
