<div class="filter-border"></div>
<div class="row">
  <h5>Harga</h5>
</div>
<div class="row filter-price-option">
  <div class="col-md-12 col-sm-12 col-xs-12 range-slider" >
    <div id="slider-range" min="0" [attr.max]="max_range"></div>
    <input type="hidden" [formControl]="range" id="price-range">
    <span class="range_min light left">0</span>
    <span class="range_max light right">{{max_range | number}} </span>
  </div>
</div>
