<div id="transactions-invoice" [ngClass]="{'body-content-stamp': invoice.status >= 1, 'body-content': invoice.status == 0}" *ngIf="invoice">
    <div class="img-background"></div>
    <table width="790" cellspacing="0" cellpadding="0" class="container" >
        <tbody>
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" class="table-header">
                        <tbody>
                            <tr>
                                <td>
                                    <p>S I A T A. ID</p>
                                    <!-- <img src="" alt="siata"> -->
                                </td>
                                <td>
                                    <a id="print" href="javascript:print();">
                                        <span >Cetak</span>
                                        <img src="assets/images/print.png" alt="Print">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" cellspacing="0" cellpadding="0" style="" class="table-content-info">
                        <tbody>

                            <tr class="tr-invoice">
                                <td >
                                    <span>Invoice</span>
                                </td>
                                <td>
                                    <span style="">STATUS</span>
                                    <span></span>
                                </td>
                            </tr>
                            <tr class="tr-info">
                                <td>
                                    <span>Diterbitkan atas nama:</span>
                                </td>
                            </tr>
                            <tr class="tr-info-details">
                                <td >
                                    <table width="100%" cellspacing="0" cellpadding="0" class="table-info-details">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table style="" width="100%" cellspacing="0" cellpadding="0" class="table-info-seller">
                                                        <tbody>
                                                            <tr>
                                                                <td style="" width="80">Penjual</td>
                                                                <td style="">Siata.id</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table style="" width="100%" cellspacing="0" cellpadding="0" class="table-info-invoice">
                                                        <tbody>
                                                            <tr>
                                                                <td width="80">Nomor</td>
                                                                <td *ngIf="invoice">{{ invoice.invoice }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" cellspacing="0" cellpadding="0" class="table-info-date">
                                                        <tbody>
                                                            <tr>
                                                                <td width="80">Tanggal</td>
                                                                <td *ngIf="invoice">{{ invoice.date | date: 'dd MMMM yyyy' }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="">
                                    <table style="" width="100%" cellspacing="0" cellpadding="0" class="table-info-pembayaran">
                                        <tbody>
                                            <tr style="">
                                                <td>
                                                    <table width="100%" cellspacing="0" cellpadding="0" class="table-details-pembayaran">
                                                        <tbody>
                                                            <tr>
                                                                <td style="" class="text-right" *ngIf="invoice.payment_name || invoice.payment_logo">Pembayaran
                                                                </td>
                                                                <td class="text-right" width="100">
                                                                    <div>
                                                                        <span>{{invoice.payment_name | uppercase}}</span>
                                                                        <img [src]="invoice.payment_logo" alt="logo" height="25" class="bank-logo" *ngIf="invoice.payment_logo">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" cellspacing="0" cellpadding="0" class="table-info-product">
                        <thead >
                            <tr>
                                <th>Nama Produk</th>
                                <th width="120">Jumlah Barang</th>
                                <th width="65">Berat</th>
                                <th width="115">Harga Barang</th>
                                <th width="115">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="invoice && invoice.order_details">
                            <tr *ngFor="let detail of invoice.order_details">
                                <td>
                                    <span>{{ detail.product.name }}</span>
                                    <br>
                                </td>
                                <td width="120">{{ detail.qty }}</td>
                                <td width="65">{{ detail.weight }} gr</td>
                                <td width="115">{{ detail.price | currency: 'Rp ': 'symbol' : '1.0-0' | customCurrency}}</td>
                                <td width="115">{{ detail.total_price | currency: 'Rp ': 'symbol' : '1.0-0' | customCurrency}}</td>
                            </tr>
                            <tr style="" bgcolor="#F1F1F1">
                                <td colspan="4" style="">Subtotal</td>
                                <td style="" width="115">{{ invoice.product_cost | currency: 'Rp ': 'symbol' : '1.0-0' | customCurrency}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="" width="100%" cellspacing="0" cellpadding="0" class="table-info-expedition">
                        <tbody *ngIf="invoice">
                            <tr style="">
                                <td style="">{{ invoice.expedisi_name }}</td>
                                <td style="" width="120"></td>
                                <td style="" width="65">{{ invoice.weight }} gr</td>
                                <td style="" width="115"></td>
                                <td style="" width="115">{{ invoice.expedisi_cost | currency: 'Rp ': 'symbol' : '1.0-0' | customCurrency}}</td>
                            </tr>
                            <tr style="" bgcolor="#F1F1F1">
                                <td colspan="4" style="">Subtotal</td>
                                <td style="" width="115">{{ invoice.expedisi_cost | currency: 'Rp ': 'symbol' : '1.0-0' | customCurrency}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- jika transfer manual -->
                    <!-- <table width="100%" cellspacing="0" cellpadding="0" class="table-info-unique-cost">
                    <tbody>
                    <tr>
                    <td>Kode Unik Pembayaran</td>
                    <td width="120"></td>
                    <td width="65"></td>
                    <td width="115"></td>
                    <td width="115">Rp 998</td>
                </tr>
            </tbody>
        </table> -->

        <table width="100%" cellspacing="0" cellpadding="0" style="" class="table-info-total">
            <tbody>
                <tr>
                    <td width="35%" valign="top" style=""></td>
                    <td width="65%" valign="top" style="">
                        <table width="100%" cellspacing="0" cellpadding="0" style="" class="table-total-details">
                            <tbody *ngIf="invoice">
                                <tr bgcolor="#F1F1F1" style="">
                                    <td style="">Total</td>
                                    <td style="">{{ invoice.total_cost | currency: 'Rp ': 'symbol' : '1.0-0' | customCurrency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" cellspacing="0" cellpadding="0" style="" class="table-info-pengiriman">
            <thead>
                <tr>
                    <th>
                        <h3 style="">Tujuan Pengiriman</h3>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="invoice">
                <tr>
                    <td>
                        <p style="">{{ invoice.receiver_name }}</p>
                        {{ invoice.address }}, {{ invoice.to_district }}
                        <br> {{ invoice.to_city }}, {{ invoice.to_province }}, {{ invoice.to_postal_code }}
                        <br>
                        {{ invoice.hp }}
                    </td>
                    <td width="50%" valign="top">
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
</tbody>
</table>
</div>
