/*@font-face  {
    font-family: 'helvetica';
    src: url('../../../assets/fonts/HELVETICA-NORMAL.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face  {
    font-family: 'open-sans';
    src: url('../../../assets/fonts/OPENSANS-REGULAR.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;
}*/

@media print {
    app-root app-header {
        display: none;
    }
}

#transactions-invoice  {
	font-family: 'Open Sans';
	margin: 0;
	-webkit-print-color-adjust: exact
}

#transactions-invoice.body-content-stamp  {
	background: url(../../../assets/images/stamp-lunas.png) center no-repeat;
	background-size: contain;
	width: 790px;
    display: block;
    margin:auto;
    padding-bottom: 50px;
}
#transactions-invoice td {
    vertical-align: top !important;
}
#transactions-invoice .body-content {
	width: 790px;
}

#transactions-invoice .container {
	width: 790px;
	padding: 20px;
}

#transactions-invoice .table-header {
	width: 100%;
	padding-bottom: 20px;
}

#transactions-invoice .table-header tbody>tr  {
	margin-top: 8px;
	margin-bottom: 8px;
}

#transactions-invoice .table-header tbody>tr>td:last-child {
	text-align: right;
}

#transactions-invoice .table-header tbody>tr>td:last-child span {
	margin-right: 10px;
}

#transactions-invoice .table-header a {
	color: #cb7701;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}

.table-header span,
#transactions-invoice .table-header tbody>tr>td>a>img  {
	vertical-align: middle;
}

#transactions-invoice .body-content-stamp .table-header tbody>tr>td>a {
	display: inline block;
}

#transactions-invoice .body-content .table-header tbody>tr>td>a {
	display: none;
}

#transactions-invoice .table-content-info {
	width: 100%;
	padding-bottom: 20px;
}

#transactions-invoice .table-content-info .tr-invoice td:nth-child(1) {
	font-size: 20px;
	font-weight: 600;
}

#transactions-invoice .table-content-info .tr-invoice td:nth-child(2) {
	font-size: 14px;
	float: right;
}

#transactions-invoice .table-content-info .tr-invoice td:nth-child(2) span:nth-child(1) {
	margin-right: 25px;
	text-transform: uppercase;
	font-weight: 600;
}

#transactions-invoice .body-content-stamp .table-content-info .tr-invoice td:nth-child(2) span:nth-child(2):before {
	content: 'Lunas';
}

#transactions-invoice .body-content .table-content-info .tr-invoice td:nth-child(2) span:nth-child(2):before {
	content: 'Menunggu Pembayaran';
}

#transactions-invoice .table-content-info .tr-info {
	font-size: 13px;
}

#transactions-invoice .table-content-info .tr-info-details {
	padding-right: 10px;
}

#transactions-invoice .table-content-info tr>td {
	padding-bottom: 5px;
}

#transactions-invoice .table-info-details {
	width: 100%;
	border-collapse: collapse;
}

#transactions-invoice .table-info-details tr {
	font-size: 13px;
}

#transactions-invoice .table-info-seller,
#transactions-invoice .table-info-invoice,
#transactions-invoice .table-info-date {
	width: 100%;
	border-collapse: collapse;
}

#transactions-invoice .table-info-seller tbody>tr>td:first-child,
#transactions-invoice .table-info-invoice tbody>tr>td:first-child,
#transactions-invoice .table-info-date tbody>tr>td:first-child {
	width: 80px;
	font-weight: 600;
	padding: 3px 20px 3px 0;
}

#transactions-invoice .table-info-seller tbody>tr>td:last-child,
#transactions-invoice .table-info-invoice tbody>tr>td:last-child,
#transactions-invoice .table-info-date tbody>tr>td:last-child {
	padding: 3px 0;
}

#transactions-invoice .tr-info-details td:nth-child(2) {
	padding-left: 10px;
	vertical-align: text-top;
}

#transactions-invoice .table-info-pembayaran,
#transactions-invoice .table-details-pembayaran {
	width: 100%;
	border-collapse: collapse;
	font-size: 13px;
}

#transactions-invoice .table-details-pembayaran tbody>tr>td:nth-child(1) {
	width: 80px;
	vertical-align: text-top;
	font-weight: 600;
	padding: 3px 20px 3px 0;
}

#transactions-invoice .table-details-pembayaran tbody>tr>td:nth-child(2) div {
	padding-bottom: 3px;
}
#transactions-invoice .table-details-pembayaran tbody>tr>td:nth-child(2) div span {
	margin-right: 10px;
}

#transactions-invoice .bank-logo {
	vertical-align: middle;
}

#transactions-invoice .table-info-product {
	width: 100%;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 15px 0;
}

#transactions-invoice .table-info-product thead {
	font-size: 14px;
}

#transactions-invoice .table-info-product thead>tr>th:nth-child(1) {
	font-weight: 600;
	text-align: left;
	padding: 0 5px 15px 15px;
}

#transactions-invoice .table-info-product thead>tr>th:nth-child(2) {
	width: 120px;
	font-weight: 600;
	padding: 0 5px 15px;
}

#transactions-invoice .table-info-product thead>tr>th:nth-child(3) {
	width: 65px;
	font-weight: 600;
	padding: 0 5px 15px;
}

#transactions-invoice .table-info-product thead>tr>th:nth-child(4) {
	width: 115px;
	font-weight: 600;
	padding: 0 5px 15px;
}

#transactions-invoice .table-info-product thead>tr>th:nth-child(5) {
	width: 115px;
	font-weight: 600;
	text-align: right;
	padding: 0 30px 15px 5px;
}

#transactions-invoice .table-info-product tbody>tr {
	font-size: 13px;
}

#transactions-invoice .table-info-product tbody>tr:last-child {
	font-size: 13px;
	background-color: rgba(0,0,0,0.1);
}

#transactions-invoice .table-info-product tbody>tr>td:nth-child(1) {
	text-align: left;
	padding: 8px 5px 8px 15px;
}

#transactions-invoice .table-info-product tbody>tr>td:nth-child(1) span:nth-child(1) {
	display: block;
	width: 270px;
}

#transactions-invoice .table-info-product tbody>tr>td:nth-child(1) span:nth-child(2) {
	display: inline-block;
	border: 1px solid #64B257;
	font-size: 11px;
	margin-top: 5px;
	padding: 1px 3px;
	border-radius: 3px;
	color: #64B257;
}

#transactions-invoice .table-info-product tbody>tr>td:nth-child(2) {
	width: 120px;
	padding: 8px 5px;
}

#transactions-invoice .table-info-product tbody>tr>td:nth-child(3) {
	width: 65px;
	padding: 8px 5px;
}

#transactions-invoice .table-info-product tbody>tr>td:nth-child(4) {
	width: 115px;
	padding: 8px 5px;
}

#transactions-invoice .table-info-product tbody>tr>td:nth-child(5) {
	width: 115px;
	text-align: right;
	padding: 8px 30px 8px 5px;
}

#transactions-invoice .table-info-product tbody>tr:last-child td:nth-child(1) {
	font-weight: 600;
	text-align: left;
	padding: 8px 5px 8px 15px;
}

#transactions-invoice .table-info-product tbody>tr:last-child td:nth-child(2) {
	width: 115px;
	font-weight: 600;
	text-align: right;
	padding: 8px 30px 8px 5px;
}

#transactions-invoice .table-info-expedition {
	width: 100%;
	text-align: center;
	padding: 15px 0;
}

#transactions-invoice .table-info-expedition tbody>tr:nth-child(1) {
	font-size: 13px;
}

#transactions-invoice .table-info-expedition tbody>tr:nth-child(2) {
	font-size: 13px;
	background-color: rgba(0,0,0,0.1);
}

#transactions-invoice .table-info-expedition tbody>tr:nth-child(1) td:nth-child(1) {
	font-weight: 600;
	text-align: left;
	padding: 8px 0 8px 15px;
}

#transactions-invoice .table-info-expedition tbody>tr:nth-child(1) td:nth-child(2) {
	width: 120px;
	padding: 8px 5px;
}

#transactions-invoice .table-info-expedition tbody>tr:nth-child(1) td:nth-child(3) {
	width: 65px;
	padding: 8px 5px;
}
#transactions-invoice .table-info-expedition tbody>tr:nth-child(1) td:nth-child(4) {
	width: 115px;
	padding: 8px 5px;
}
#transactions-invoice .table-info-expedition tbody>tr:nth-child(1) td:nth-child(5) {
	width: 115px;
	text-align: right;
	padding: 8px 30px 8px 5px;
}

#transactions-invoice .table-info-expedition tbody>tr:nth-child(2) td:nth-child(1) {
	font-weight: 600;
	text-align: left;
	padding: 8px 5px 8px 15px;
}

#transactions-invoice .table-info-expedition tbody>tr:nth-child(2) td:nth-child(2) {
	width: 115px;
	font-weight: 600;
	text-align: right;
	padding: 8px 30px 8px 5px;
}

#transactions-invoice .table-info-unique-cost {
	width: 100%;
   	text-align: center;
   	padding: 0px 0px 5px 0px;
   	font-size: 13px;
}

#transactions-invoice .table-info-unique-cost tbody>tr:nth-child(1) td:nth-child(1) {
	font-weight: 600;
	text-align: left;
	padding: 8px 0 8px 15px;
}

#transactions-invoice .table-info-unique-cost tbody>tr:nth-child(1) td:nth-child(2) {
	width: 120px;
	padding: 8px 5px;
}

#transactions-invoice .table-info-unique-cost tbody>tr:nth-child(1) td:nth-child(3) {
	width: 65px;
	padding: 8px 5px;
}
#transactions-invoice .table-info-unique-cost tbody>tr:nth-child(1) td:nth-child(4) {
	width: 115px;
	padding: 8px 5px;
}
#transactions-invoice .table-info-unique-cost tbody>tr:nth-child(1) td:nth-child(5) {
	width: 115px;
	text-align: right;
	padding: 8px 30px 8px 5px;
}

#transactions-invoice .table-info-total {
	width: 100%; padding: 0 0 20px;
}

#transactions-invoice .table-info-total tbody>tr:nth-child(1) td:nth-child(1) {
	width: 35%;
	vertical-align: top;
	padding-right: 5px;
}

#transactions-invoice .table-info-total tbody>tr:nth-child(1) td:nth-child(2) {
	width: 65%;
	vertical-align: top;
	padding-left: 5px;
}

#transactions-invoice .table-total-details {
	width: 100%;
	border-collapse: collapse;
}

#transactions-invoice .table-total-details tbody>tr {
	font-size: 15px;
	color: #cb7701;
	background-color: rgba(0,0,0,0.1);
}

#transactions-invoice .table-total-details tbody>tr>td:nth-child(1) {
	padding: 15px 0 15px 30px;
	font-weight: 600;
}

#transactions-invoice .table-total-details tbody>tr>td:nth-child(2) {
	padding: 15px 30px 15px 0;
	font-weight: 600;
	text-align: right;
}

#transactions-invoice .table-info-total tbody>tr:nth-child(2) td:nth-child(1) {
	width: 35%;
	vertical-align: top;
	padding-right: 5px;
}

#transactions-invoice .table-info-total tbody>tr:nth-child(2) td:nth-child(2) {
	width: 65%;
	vertical-align: top;
	padding-left: 5px;
}

#transactions-invoice .table-info-pengiriman {
	width: 100%;
	border-top: 1px dashed #DDD;
	padding: 25px 0px;
}

#transactions-invoice .table-info-pengiriman thead>tr>th {
	text-align: left;
	padding: 0;
}

#transactions-invoice .table-info-pengiriman thead>tr>th h3 {
	font-size: 15px;
	font-weight: 600;
	margin: 0;
}

#transactions-invoice .table-info-pengiriman tbody>tr>td {
	font-size: 13px;
	line-height: 20px;
	padding: 10px 0;
}

#transactions-invoice .table-info-pengiriman tbody>tr>td:nth-child(1) p {
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 5px;
	margin: 0;
}
