<div id="content" class="content-fixed">
  <div class="clearfix"></div>
  <div class="container">
    <img alt="404 Page Not Found" [src]="'./assets/images/page-not-found.jpg'">
  </div>
  <div class="clearfix"></div>
</div>
