<div class="filter-border"></div>
<div class="row filter-kelompok-option">
  <h5>Kategori</h5>
  <div class="row filter-kelompok-option">
    <div class="col-md-12 col-sm-12 col-xs-12 kelompok-option" *ngIf="subdepartments && subdepartments.length; else noData">
      <label class="normal-font" [attr.label-value]="subdepartment.name" *ngFor="let subdepartment of subdepartments">
        <input type="checkbox"
               [value]="subdepartment.id"
               [attr.data-value]="subdepartment.name | titlecase"
               [(ngModel)]="active[subdepartment.id]"
               (ngModelChange)="selectSubdepartment(subdepartment)" [id]="'__' + subdepartment.id">
        {{ (subdepartment.name.length>26)? (subdepartment.name | slice:0:26 | titlecase)+'..':(subdepartment.name) }}
        <ul *ngIf="subdepartment.groups && subdepartment.groups.length">
          <li *ngFor="let group of subdepartment.groups">
            <label [attr.label-value]="group.name" class="normal-font">
              <input type="checkbox"
                     [value]="group.id"
                     [attr.data-value]="group.name | titlecase"
                     [(ngModel)]="activeChild[group.id]"
                     (ngModelChange)="selectGroup(group)" [id]="'__' + subdepartment.id + group.id">
              {{ (group.name.length>26)? (group.name | slice:0:26 | titlecase)+'..':(group.name) }}
            </label>
          </li>
        </ul>
      </label>
    </div>
    <ng-template #noData>
      <small class="col-md-12 col-sm-12 col-xs-12 kelompok-option">
        Belum ada data untuk pencarian ini
      </small>
    </ng-template>
  </div>
</div>
