<div id="believe-nav">
  <!-- Nav -->
  <div class="container">
    <div class="min-marg">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
             *ngIf="deptService.subdepartments$ | async as subdepartments">
          <ul class="nav navbar-nav" *ngIf="subdepartments && subdepartments.length > 7; else lessThan7">
            <li *ngFor="let subdept of subdepartments.slice(0, 6)" routerLinkActive="active">
              <a [routerLink]="[gender, subdept.slug]">{{subdept.name}}<span class="sr-only">(current)</span></a>
            </li>
            <li class="dropdown" id="believe-nav-dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Selebihnya
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li *ngFor="let subdept of subdepartments.slice(7, subdepartments.length)" routerLinkActive="active">
                  <a [routerLink]="[gender, subdept.slug]">{{subdept.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
          <ng-template #lessThan7>
            <ul class="nav navbar-nav">
              <li *ngFor="let subdept of subdepartments" routerLinkActive="active">
                <a [routerLink]="[gender, subdept.slug]">{{subdept.name}}<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </ng-template>
        </div>

      </nav>
    </div>
    <div class="srch-form">
      <form class="side-search">
        <div class="input-group">
          <input type="text" class="form-control search-wid" placeholder="Cari Produck`" aria-describedby="basic-addon2">
          <a href="" class="input-group-addon btn-side-serach" id="basic-addon2"><i class="fa fa-search"></i></a>
        </div>
      </form>
    </div>
  </div>
</div>
