.min-marg{
  /* margin-left:-15px;
    margin-right:-15px;*/
  margin: auto;
  max-width: fit-content;
}

#believe-nav .navbar-default{
  border:none;
  margin:0;
  border-radius:0;
  min-height:0;
  background:none;
  height: 43px;
}
#believe-nav .navbar-brand{
  padding:0 15px;
  height:auto;
}

#believe-nav .navbar-nav>li{
  padding-left:20px;
}

.navbar-nav > li > .dropdown-menu {
    margin-left: 30px;
    background-color: #F9F9F9;
}
#believe-nav .navbar-nav>li>a{
  cursor: pointer;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:700;
    /*text-transform:uppercase;*/
    /*color:#2b2a2f;*/
    color:#A7A7A7;
    font-size:14px;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    /*font-family: 'open-sans';*/
    font-family: 'Calibri';
}

#believe-nav-dropdown .dropdown-menu>li>a{
  font-size:14px;
  font-family: 'Calibri';
  color: #A7A7A7;
  /*background-color: #d7d7d7;*/
}

/*#believe-nav .navbar-nav>li>a{*/
  /*padding-top:10px;*/
  /*padding-bottom:10px;*/
  /*font-weight:700;*/
  /*!*text-transform:uppercase;*!*/
  /*color:#2b2a2f;*/
  /*font-size:13px;*/
  /*transition: all .3s ease;*/
  /*-moz-transition: all .3s ease;*/
  /*-webkit-transition: all .3s ease;*/
  /*font-family: 'open-sans';*/
/*}*/

#believe-nav .navbar-nav.navbar-right>li{
  padding-left: 0;
}

#believe-nav .navbar-nav>li>a i{
  margin-left:10px;
}

#believe-nav .navbar-nav>li>a i{
  margin-left:10px;
}

#believe-nav .navbar-default .navbar-nav>.active>a,
#believe-nav .navbar-default .navbar-nav>.active>a:focus,
#believe-nav .navbar-default .navbar-nav>.active>a:hover,
#believe-nav .navbar-default .navbar-nav a:hover{
  background:none;
  color:#009900;
}

#believe-nav .navbar-default .navbar-nav>.open>a,
#believe-nav .navbar-default .navbar-nav>.open>a:focus,
#believe-nav .navbar-default .navbar-nav>.open>a:hover{
  background:none;
  /*color:#66cef6;*/
}

#believe-nav .navbar-right img{
  float:left;
}
#believe-nav .navbar-right span{
  float:right;
  vertical-align: middle;
  margin-top:3px;
  margin-left:12px;
}

.srch-form{
  position:absolute;
  right:0;
  top:100%;
  margin-top:30px;
  max-width:450px;
  padding:15px;
  background:#fff;
  z-index: 9;
  display:none;
  border-top:2px solid #66cef6;
}
.srch-form .search-wid{
  border: 1px solid #d7d7d7 ;
  border-right: 1px solid transparent;
}
.srch-form .search-wid:focus{
  border:1px solid #d7d7d7 ;
  border-right:1px solid transparent;
}
.srch-form .side-search {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.dropdown-menu>.active>a {
  background: none !important;
  color: #009900 !important;

}
