<div id="content" class="content-fixed">
  <!-- Content -->
  <div class="container">
    <div class="col-md-2 col-sm-2 col-xs-1"></div>
    <div class="col-md-8 col-sm-8 col-xs-10 checkout-success">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="title-checkout-success">Segera selesaikan pembayaran Anda sebelum stok habis.</h4>
          <div class="panel panel-default checkout-success-expired">
            <div class="panel-body">
              <p align="center">Sisa waktu pembayaran Anda</p>
              <div class="counter-box">
                <div class="counter-box__wrapper">
                  <div class="counter-box__number" id="hours"></div>
                  <div class="clearfix"></div>
                  <div class="counter-box__title fs-12">Jam</div>
                </div>
                <div class="counter-box__wrapper">
                  <div class="counter-box__number" id="minutes"></div>
                  <div class="clearfix"></div>
                  <div class="counter-box__title fs-12">Menit</div>
                </div>
                <div class="counter-box__wrapper">
                  <div class="counter-box__number" id="seconds"></div>
                  <div class="clearfix"></div>
                  <div class="counter-box__title fs-12">Detik</div>
                </div>
              </div>
              <p align="center" class="expired-time"></p>
            </div>
          </div>
          <div class="checkout-success-details">
            <div class="alert alert-warning">
              <p align="center">Pastikan untuk tidak menginformasikan bukti dan data pembayaran kepada pihak manapun kecuali Siata</p>
            </div>
            <span>Transfer pembayaran ke nomor rekening :</span>
            <div class="box-media">
              <div class="detail-payment">
                <img [src]="transaction.logo_bank | wrapImage" alt="" width="90">
                <span class="fs-16 bold" id="payment-code">{{transaction.rekening_number | cardNumber}}</span>
                <p>a/n {{transaction.rekening_name}}</p>
              </div>
              <div class="detail-total">
                <span>Jumlah yang harus dibayar :</span>
                <span class="fs-16 bold">{{transaction.total_cost | currency : 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</span>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="filter-border"></div>
          </div>
          <div class="detail-panduan-bayar" *ngIf="transferGuides && transferGuides.length">
            <h5 class="bold">Panduan Pembayaran</h5>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default panel-accordion-panduan" *ngFor="let guide of transferGuides; let i = index">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse' + -i">
                      {{guide.type_transfer}}
                    </a>
                  </h4>
                </div>
                <div [id]="'collapse' + -i" class="panel-collapse collapse">
                  <div class="panel-body" [innerHTML]="guide.description">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="detail-status">
            <a [routerLink]="['/pengguna/transactions']" class="btn btn-web btn-status-bayar">Cek Status Pembayaran</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
