<div class="row" *ngIf="user" [class.hidden]="loading">
  <app-account-navigation [user]="user"></app-account-navigation>
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 box-address-list">
    <div class="panel panel-default">
      <div class="panel-body account-details-info">
        <ul class="nav nav-tabs">
          <li [class.active]="stateProfile" (click)="switchTabState('profile')">
            <a>Profile Saya</a>
          </li>
          <li [class.active]="stateSecurity" (click)="switchTabState('security')">
            <a>Keamanan</a>
          </li>
          <li [class.active]="stateAddress" (click)="switchTabState('address')">
            <a>Alamat Pengiriman</a>
          </li>
        </ul>
        <div class="row account-address-header" [class.hidden]="!stateProfile">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Ubah data diri</h4>
          </div>
        </div>
        <div class="row" [class.hidden]="!stateProfile">
          <form class="form-horizontal form-change-profile">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 change-profile-account">
              <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-5 normal-font">Email</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 div-span-input">

                  <span href="#" id="edit-email" data-type="email" data-pk="1" data-title="Masukkan Email" class="editable editable-click" data-original-title="" title="" data-value="">{{ user.email }}</span>
                  <a>
                    <!--<i class="fa fa-pencil" id="editEmail"></i>-->
                  </a>
                  <input type="hidden" name="email" id="email" value="myemail@mail.com">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-5 normal-font">Nama Lengkap</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                  <input type="text" name="fullname" class="form-control"
                         [value]="user.name | titlecase" [(ngModel)]="user.name" [class.hidden]="!isEditName">
                  <span [class.hidden]="isEditName">{{user.name | titlecase}}</span>
                  <a [class.hidden]="isEditName" [hidden]="isEditAvatar">
                    <i class="fa fa-pencil" id="fullname" (click)="editName()"></i>
                  </a>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-5 normal-font">Telepon</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 div-span-input">
                  <span href="#" id="edit-hp" data-type="text" data-pk="2" data-title="Masukkan No Hp" class="editable editable-click" data-original-title="" title="" [attr.data-value]="user.hp">{{user.hp}}</span>
                  <span class="">
                      <!--<input tabindex="11" type="radio" id="square-radio-1" name="square-radio" checked="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">-->
                      <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                  </span>
                  <a [hidden]="isEditAvatar">
                    <i class="fa fa-pencil" id="editHp" (click)="editHp($event)"></i>
                  </a>

                  <input type="hidden" name="hp" id="hp">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-5 normal-font">Tanggal lahir</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                  <span [class.hidden]="isEditBirthday" *ngIf="user.birthday">{{user.birthday | date : 'fullDate'}}</span>
                  <a [class.hidden]="isEditBirthday" *ngIf="user.birthday" [hidden]="isEditAvatar">
                    <i class="fa fa-pencil" (click)="editBirthday()"></i>
                  </a>
                  <div class="input-group" [class.hidden]="!isEditBirthday">
                    <span class="input-group-btn">
                        <select class="btn" [formControl]="dayControl">
                          <option *ngFor="let d of dayOptions" [ngValue]="d">{{d.name}}</option>
                        </select>
                        <select class="btn" [formControl]="monthControl">
                          <option [ngValue]="option" *ngFor="let option of monthOptions">{{option.name}}</option>
                        </select>
                        <select class="btn" [formControl]="yearControl">
                          <option *ngFor="let y of yearOptions" [ngValue]="y">{{y.name}}</option>
                        </select>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-5 normal-font">Jenis kelamin</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 div-gender">
                  <span [class.hidden]="isEditGender" *ngIf="user.gender_id">{{user.gender_id == 1 ? 'Pria' : 'Wanita' }}</span>
                  <a [class.hidden]="isEditGender" *ngIf="user.gender_id" [hidden]="isEditAvatar">
                    <i class="fa fa-pencil" (click)="editGender()"></i>
                  </a>
                  <div class="skin skin-minimal pria-wanita" [class.hidden]="!isEditGender">
                    <label class="inline input-radio label-inline">
                      <input type="radio" name="gender" [formControl]="genderControl" [value]="2">Wanita
                    </label>
                    <label class="inline input-radio label-inline">
                      <input type="radio" name="gender" [formControl]="genderControl" [value]="1">Pria
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 change-profile-image">
              <img [src]="user.avatar" class="preview-change-avatar" *ngIf="user.avatar">
              <div class="clearfix"></div>
              <a class="change-avatar" (click)="editAvatar()"
                 [hidden]="isEditGender || isEditBirthday || isEditHp || isEditName">
                <i class="fa fa-pencil"> </i>
                Ubah Photo Profile
              </a>
              <input type="file" name="avatar" class="avatar" (change)="onFileChange($event)">
              <br>
              <small class="text-danger" [class.hidden]="isEditAvatarValid">
                Avatar harus dalam format JPG, JPEG, atau PNG.
              </small>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-btn-update"
                 [class.hidden]="!isEditName && !isEditHp && !isEditBirthday && !isEditGender && !isEditAvatar">
              <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4"></label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <button type="submit" class="btn btn-web" (click)="updateProfile()"
                          [disabled]="
                          genderControl.invalid && (genderControl.touched || genderControl.dirty) ||
                          (dayControl.invalid && (dayControl.touched || dayControl.dirty) ||
                          yearControl.invalid && (yearControl.touched || yearControl.dirty) ||
                          monthControl.invalid && (monthControl.touched || monthControl.dirty))"
                          [class.hidden]="isEditAvatar">Profile Update</button>
                  <button type="submit" class="btn btn-web" (click)="updateAvatar()"
                          [class.hidden]="avatarControl.invalid || !isEditAvatarValid || isEditGender || isEditBirthday || isEditHp || isEditName">Update Avatar</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="row account-address-header" [class.hidden]="!stateSecurity">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Ubah Password
              <span *ngIf="changePasswordSuccess" class="text-success">
                <i class="fa fa-check"></i> Berhasil</span>
              <span *ngIf="changePasswordSuccess === false" class="text-danger">
                <i class="fa fa-warning"></i> Gagal</span>
            </h4>
          </div>

        </div>
        <div class="row" [class.hidden]="!stateSecurity">
          <form class="form-horizontal form-change-password" [formGroup]="securityForm" (ngSubmit)="changePassword()">
            <div class="form-group">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
              <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-4">Password Lama</label>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="password" class="form-control" formControlName="old_password" autocomplete="none" required minlength="6" >
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
              <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-4">Password Baru</label>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="password" class="form-control" formControlName="password" autocomplete="none" required minlength="6">
                <password-strength-meter [password]="securityForm.get('password').value" [minPasswordLength]="6" [enableFeedback]="true"></password-strength-meter>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
              <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-4">Konfirmasi Password</label>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="password" class="form-control" formControlName="password_confirm" autocomplete="none" required minlength="6">
                <small class="text-danger" *ngIf="securityForm.errors?.passwordMatch && (securityForm.controls.touched || securityForm.dirty)">password tidak cocok</small>
              </div>
            </div>
            <div class="form-group" *ngIf="securityForm.valid">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
              <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-4"></label>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button type="submit" class="btn btn-web">Ubah Password</button>
              </div>
            </div>
          </form>
        </div>

        <div class="row account-address-header" *ngIf="stateAddress">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
            <button class="btn btn-md btn-new-address btn-web" (click)="addAddress()">Tambah Alamat</button>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-1">
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-8">

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">

              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." #sAddress (keyup)="searchAddress(sAddress.value)" height-34>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="stateAddress">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table borderless table-address" *ngIf="addresses">
              <thead>
              <tr>
                <th></th>
                <th>Penerima</th>
                <th>Alamat Pengiriman</th>
                <th>Daerah Pengiriman</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let address of addresses" class="list-address">
                <td >
                  <div class="" [class.checked]="address.is_primary">
                    <input type="radio" name="radioPrimary" title="Jadikan alamat utama ?"
                           [checked]="address.is_primary"
                           [swal]="setPrimaryAlert"
                           (confirm)="setAddressAsPrimary(address)">
                  </div>
                </td>
                <td>
                  <span class="font-bold">{{address.receiver_name | titlecase}} </span>
                  <div class="clearfix"></div>
                  <span>{{address.hp}}</span>
                </td>
                <td>
                  <span class="font-bold">
                    {{address.address}}, {{address.district_name}}, {{address.city_name}}
                  </span>
                  <!--<div class="clearfix"></div>-->
                  <!--<span>jalan aren no 29, kelurahan jatipulo, kecamatan palmerah, jakarta barat</span>-->
                </td>
                <td>
                  <span>{{address.province_name}}, {{address.city_name}}, {{address.district_name}} {{address.postal_code}} Indonesia</span>
                </td>
                <td>
                  <button class="btn btn-md btn-plus btn-edit-address" (click)="editAddress(address)">
                    <i class="fa fa-edit"></i> Edit
                  </button>
                  <button class="btn bnt-md btn-plus btn-delete_address"
                          [swal]="{
                          title: 'Apakah Anda Yakin?',
                          text: 'Anda yakin ingin menghapus alamat ini?',
                          type: 'question',
                          confirmButtonText: 'Ya, Hapus',
                          cancelButtonText: 'Tidak, Batalkan!',
                          showCancelButton: true,
                          focusCancel: true,
                          allowOutsideClick: false
                          }"
                          (confirm)="deleteAddress(address)"
                          *ngIf="!address.is_primary">
                    <i class="fa fa-trash"></i> Hapus
                  </button>
                  <button class="btn bnt-md btn-plus btn-delete_address primary-address" *ngIf="address.is_primary" disabled>
                    <i class="fa fa-shield"></i> Utama
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal #toastAddressDeleted
      timer="3000"
      toast="true"
      type="success"
      text="Alamat berhasil dihapus"
      [showConfirmButton]="false"
      position="top-right">
</swal>

<swal #toastAddressSetAsPrimary
      timer="3000"
      toast="true"
      type="success"
      text="Berhasil mengatur alamat utama"
      [showConfirmButton]="false"
      position="top-right">
</swal>

<swal #toastAddressAdded
      timer="3000"
      toast="true"
      type="success"
      text="Berhasil menambahkan alamat"
      [showConfirmButton]="false"
      position="top-right">

</swal>

<swal #setPrimaryAlert
      title="Atur Sebagai Alamat Utama"
      type="question"
      text="Apa anda yakin ingin menjadikan alamat ini sebagai alamat utama ?"
      cancelButtonText="Tidak"
      confirmButtonText="Ya"
      [allowOutsideClick]="false"
      [focusCancel]="true"
      [reverseButtons]="true"
      [showCancelButton]="true"
>
</swal>

<swal #toastUpdateProfile
      timer="3000"
      toast="true"
      type="success"
      text="Berhasil merubah profil"
      [showConfirmButton]="false"
      position="top-right">

</swal>

<swal #toastUpdateAvatar
      timer="3000"
      toast="true"
      type="success"
      text="Berhasil merubah avatar"
      [showConfirmButton]="false"
      position="top-right">

</swal>

<div class="modal fade" id="modalAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-none">
        <h5 class="modal-title modal-title-fixed" *ngIf="modalTitle">{{modalTitle}}</h5>
        <button type="button" class="close modal-btn-close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row modal-content-fixed">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="addressForm">
              <div class="form-group">
                <label for="labelAddressHelp">Label Alamat</label>
                <input type="text" class="form-control" id="label-address" placeholder="Tulis Nama Alamat" formControlName="address_name" [value]="addressForm.get('address_name').value | titlecase">
                <small id="labelAddressHelp" class="form-text text-muted">Contoh: Alamat Rumah, Alamat Kantor, Apartemen, Dropship</small>
                <small class="help-block" *ngIf="addressForm.get('address_name').invalid && (addressForm.get('address_name').touched || addressForm.get('address_name').dirty)">Minimal 3 karakter, kurang {{3 - addressForm.get('address_name').value.length}} lagi</small>

              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label for="receiver_name">Nama Penerima</label>
                    <input type="text" class="form-control" id="receiver_name" name="receiver_name" [value]="addressForm.get('receiver_name').value | titlecase" formControlName="receiver_name">
                    <small class="help-block" *ngIf="addressForm.get('receiver_name').invalid && (addressForm.get('receiver_name').touched || addressForm.get('receiver_name').dirty)">Minimal 3 karakter, kurang {{3 - addressForm.get('receiver_name').value.length}} lagi</small>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label>Nomor HP</label>
                    <input type="text" class="form-control"
                           formControlName="hp" (keydown)="numberOnly($event)">
                    <small class="help-block" *ngIf="addressForm.get('hp').invalid && (addressForm.get('hp').touched || addressForm.get('hp').dirty)">Minimal 8 angka, kurang {{8 - addressForm.get('hp').value.length}} lagi</small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                  <div class="form-group">
                    <label for="kecamatan">Kota Kecamatan</label>
                    <div class="autocomplete">
                      <input type="text" class="form-control"
                             id="kecamatan" name="kecamatan" placeholder="Tulis Nama Alamat / Kota / Kecamatan tujuan pengiriman"
                             autocomplete="off"
                             [formControl]="addressDistrict">
                      <div id="autocomplete-list" class="autocomplete-items" *ngIf="(addressSuggestions$ | async)?.length > 0 && (addressDistrict.value)?.length > 0">
                        <div class="suggestion" *ngFor="let suggestion of (addressSuggestions$ | async)" (click)="setDistrictText(suggestion)">
                          {{suggestion.name_text}}
                        </div>
                      </div>
                      <small class="text-warning" *ngIf="(addressSuggestions$ | async)?.length === 0">Alamat tidak ditemukan, coba kata kunci lainya</small>
                    </div>

                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label for="kodepos">Kode Pos</label>
                    <input type="text" class="form-control" id="kodepos"
                           formControlName="postal_code" (keydown)="numberOnly($event)">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Alamat</label>
                <textarea rows="5" name="address" id="address" class="form-control" placeholder="Isi dengan nama jalan, nomor rumah, nomor kompleks, nama gedung, lantai atau nomor unit." formControlName="address"></textarea>
                <small class="help-block" *ngIf="addressForm.get('address').invalid && (addressForm.get('address').touched || addressForm.get('address').dirty)">Minimal 8 karakter</small>
              </div>
              <div class="form-group">
                <div class="">
                  <label class="label-set-primary"><input type="checkbox" name="set-primary" formControlName="is_primary">Jadikan Alamat Utama</label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                  <button class="btn btn-default" data-dismiss="modal" (click)="resetForm()">Batal</button>
                  <button type="submit" class="btn btn-web btn-web" [disabled]="addressForm.invalid" (click)="saveAddress()">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
