<div id="content" class="content-fixed">
  <!-- Content -->
  <div class="container content-top">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row" *ngIf="cartService.items.length > 0">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row box-title-shopping">
                  <div class="col-md-6 col-sm-6 col-xs-6 shopping-select">
                    <input type="checkbox" id="selectAll" data-value="select-all" (click)="checkAll()" [checked]="isCheckAll">Pilih Semua
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 shopping-unselect" >
                    <a id="unselect-all" (click)="uncheckAll()">Hapus Pilihan</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="cartService.items.length > 0">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default panel-box-cart">
              <div class="panel-body">
                <div class="row shopping-cart-list" *ngFor="let item of cartService.items;">
                  <div class="col-md-3 col-sm-3 col-xs-4 shopping-cart-list-select">
                    <div class="row">
                      <div class="col-md-3 col-sm-3 col-xs-2 checkbox-shopping">
                        <label><input type="checkbox" 
                                      [(ngModel)]="isChecked[item.variant_id]"
                                      [checked]="isChecked[item.variant_id]"
                                      (ngModelChange)="selectItem(item)" [disabled]="item.variant_stock < 1">
                        </label> 
                      </div>
                      <div class="col-md-9 col-sm-9 col-xs-10 image-shopping" lazy-load-images>
                        <a (click)="goToProduct(item.product_id)">
                          <img alt="product image" class="img-responsive"
                               [attr.data-src]="(item.variant_image && !item.variant_image.includes('product_default.png') ? item.variant_image : item.product_image) | wrapImage">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <span class="product-name">{{item.product_brand}} - {{item.product_name}}</span>
                    <div class="row wishlist-details">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <span>{{item.variant_text}}</span>
                      </div>
                      <!--<div class="col-md-6 col-sm-5 col-xs-4">-->
                      <!--<span>L</span>-->
                      <!--</div>-->
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 cart-price-div">
                        <span class="cart-price">{{item.price * item.quantity | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</span>
                      </div>
                    </div>
                  </div>
                  <swal #cartDeleteSwal 
                        title= "Konfirmasi" 
                        text= "Apakah anda yakin ingin menghapus {{item.product_name}}?"
                        type= "question"
                        [showCancelButton]= "true"
                        [focusCancel]= "true"
                        [showConfirmButton]= "true"
                        (confirm)= "deleteFromCart(item.variant_id, item.id)"
                        ></swal>
                  <div class="col-md-9 col-sm-9 col-xs-9 btn-shopping" >
                    <button class="btn btn-default btn-shopping-deleted" (click)="cartDeleteSwal.show()">
                      <i class="fa fa-trash" ></i>
                    </button>
                    <!-- <div class="clearfix"></div> -->
                    <div class="input-group input-group-sm" *ngIf="item.variant_stock > 0">
                      <span class="input-group-addon btn-min" (click)="decreaseItemQty(item)">
                        <i class="glyphicon glyphicon-minus"></i>
                      </span>
                      <input type="text" name="total" class="form-control total" [value]="item.quantity" disabled>
                      <span class="input-group-addon btn-plus" (click)="increaseItemQty(item)">
                        <i class="glyphicon glyphicon-plus"></i>
                      </span>
                    </div>
                    <div class="form-group" *ngIf="item.variant_stock < 1"><span class="out-of-stock-text">[Stok Habis]</span></div>
                  </div>
                </div>
                <!--<div class="wishlist-border"></div>-->

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h5 class="ringkasan">Ringkasan Belanja</h5>
            <div class="filter-border"></div>

            <div class="row cart-total-price">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <span class="text-total-price">{{items.length > 0 ? 'Total Harga' : 'Troli anda kosong !'}}</span>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <span class="total-price" *ngIf="items.length > 0">{{cartGrandTotal | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</span>
              </div>
            </div>
            <button class="btn btn-default btn-checkout" *ngIf="selectedItems.length > 0" (click)="confirmCheckout()">checkout</button>
            <button class="btn btn-default btn-lanjut-belanja" routerLink="/">lanjut belanja</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


