.pagination > li > a {
  cursor: pointer;
}

.form-control {
  height:33px;
}

label {
  margin-right: 10px;
}


.filter-price {
  padding: 0 0 10px 0;
}

.filter-price-option {
  padding: 20px 0 20px 0;
}

.filter-border, .wishlist-border {
  padding: 0 0 15px 0;
  border-top: 1px solid #d7d7d7;
}

.filter-brand-option {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 120px;
  width: 95%;
  margin-bottom: 35px;
}

.filter-color-option {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 180px;
  width: 95%;
}
