<div class="container">
  <div class="banner-category-filter content-fixed" lazy-load-images>
    <img *ngIf="categoryImage$ | async as image" [attr.data-src]="image | wrapImage">
  </div>
</div>

<div id="content">
  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-5">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="filter">
              <div class="row filter-kelompok">
                <div class="col-md-4 col-sm-4 col-xs-5">
                  <h5>filter</h5>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-7 deleted-all">
                  <button class="btn btn-xs btn-default btn-filter-kelompok"
                          (click)="resetFilter()" [class.disabled]="!filter">Hapus Semua</button>
                </div>
              </div>
              <div class="filter-border"></div>
              <app-subkelompok [subdepartment]="subdepartment"
                               [subkelompoks]="groups"
                               (groupsFilter)="subkelompokFiltered($event)"></app-subkelompok>
              <ng-template appPriceRange></ng-template>
              <app-size-options [sizes]="sizeOptions" (sizesFilter)="sizeFiltered($event)"></app-size-options>
              <app-brand-options [brands]="brandOptions" (brandsFilter)="brandFiltered($event)"></app-brand-options>
              <app-color-options [colors]="colorOptions" (colorsFilter)="colorFiltered($event)"></app-color-options>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-7">

        <ng-template app-breadcrumb></ng-template>
        <small *ngIf="!products || !products.length">Belum ada produk untuk kategori ini</small>

        <div class="row filter-type" *ngIf="products && products.length">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <form class="form-inline">
              <div class="form-group">
                <label for="list-order">Atur Berdasarkan</label>
                <select class="form-control" id="list-order" [formControl]="sortControl">
                  <option *ngFor="let sort of sortOptions" [ngValue]="sort">{{sort.name}}</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-sm-12 col-xs-12 your-filter" *ngIf="products && products.length">
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-3">
                <span *ngIf="products && products.length">Pilihan Anda</span>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-9 your-filter-list">

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <ng-template appProductTiles></ng-template>
        </div>
        <div class="row">
          <app-pagination [totalPages]="totalPages"
                          [current_page]="current_page"
                          (requestedPage)="loadRequestedPage($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
