<div id="content" class="content-fixed">
  <div class="container content-top">
    <h1 id="title" *ngIf="ress">{{ress.title}}</h1>
    <div id="deskripsi"  [innerHTML]="ress.description" *ngIf="ress"> </div>
    <p [innerHTML]="ress.description" *ngIf="ress"></p>
  </div>
</div>

