#title {
    text-align: center;
    width: 800px;
    margin: auto;
    color: #000;
    font-family: Apercu,Gill Sans MT,Gill Sans,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 1.6;
}

#deskripsi {
    text-align: center;
    width:800px;
    margin:auto;
    padding-bottom: 40px;
    font-family: Apercu;
}


@font-face {

}
