<div id="content" class="content-fixed">
  <!-- Content -->
  <div class="container content-top">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="panel panel-default">
              <div class="panel-body panel-box-title">
                <h5>Checkout</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body panel-box-title">
                <h5>Alamat Pengiriman</h5>
                <div class="filter-border"></div>
                <div class="details-address-box details-address-box-selected">
                  <div *ngIf="selectedAddress">
                    <span class="fullname-address">{{selectedAddress.address_name | titlecase}}</span>
                    <span class="details-address details-address-buram">({{selectedAddress.address}} {{selectedAddress.district_name}} {{selectedAddress.city_name}}, {{selectedAddress.province_name}})</span>
                    <div class="clearfix"></div>
                    <span class="receiver" *ngIf="selectedAddress.receiver_name">{{selectedAddress.receiver_name}}</span><span class="hp" *ngIf="selectedAddress.hp">({{selectedAddress.hp}})</span>
                    <div class="clearfix"></div>
                    <span class="details-address space" *ngIf="selectedAddress.address">{{selectedAddress.address}}</span>
                    <div class="clearfix"></div>
                    <span class="kecamatan" *ngIf="selectedAddress.district_name">{{selectedAddress.district_name}}</span>
                    <span class="kota" *ngIf="selectedAddress.city_name">{{selectedAddress.city_name}},</span>
                    <span class="provinsi" *ngIf="selectedAddress.province_name">{{selectedAddress.province_name}}</span>
                    <span class="kodepos" *ngIf="selectedAddress.postal_code">{{selectedAddress.postal_code}}</span>
                  </div>
                  <div class=" row btn-address-option">
                    <button class="btn btn-default btn-edit-address" (click)="editAddress(selectedAddress)" *ngIf="selectedAddress">Ubah Alamat</button>
                    <button class="btn btn-default btn-new-address" (click)="addAddress()">Gunakan Alamat Baru</button>
                    <button class="btn btn-default btn-change-address" (click)="changeAddress()" *ngIf="selectedAddress">Pilih Alamat Lain</button>
                  </div>
                </div>

                <div class="filter-border"></div>
                <div class="row expedition-select">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h5>Jasa Pengiriman</h5>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="">
                    <label>
                      <select class="form-control" *ngIf="couriers$ | async as couriers" [formControl]="shipments">
                        <option title="Pilih Jasa Pengiriman" disabled>Pilih Jasa Pengiriman</option>
                        <option *ngFor="let courier of couriers" [ngValue]="courier">{{courier.code | uppercase}} ({{courier.service}}) - {{courier.value | currency: 'Rp ': 'symbol' : '1.0-0' | customCurrency}} - {{courier.etd | titlecase}} {{courier.code !== 'pos' ? 'Hari' :''}}</option>
                      </select>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-box-product-checkout">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row box-product-checkout" *ngFor="let item of items">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" *ngIf="item">
                    <a (click)="goToProduct(item.product_id)" lazy-load-images cursor-pointer>
                      <img [alt]="item.product_name + item.variant_text" class="img-responsive"
                           [attr.data-src]="(item.variant_image && item.variant_image !== 'null' && (!item.variant_image.includes('product_default.png') && !item.variant_image.includes('null')) ? item.variant_image : item.product_image) | wrapImage">
                    </a>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" >
                    <span class="product-merk-checkout">{{item.product_brand}} - </span>
                    <span class="product-name-checkout">{{item.product_name}} <br><span>{{item.variant_text}}</span></span>
                    <p class="product-price-checkout">{{item.price | currency: 'Rp ': 'symbol' : '1.0-0' | customCurrency}}</p>
                  </div>
                  <div class="col-lg-3 col-m-3 col-sm-3 col-xs-5">
                    <p class="weight">Berat</p>
                    <p >Jumlah</p>
                  </div>
                  <div class="col-lg-2 col-m-2 col-sm-2 col-xs-4">
                    <p>{{item.weight * item.quantity}} gram</p>
                    <p>{{item.quantity}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body panel-box-title">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5>Ringkasan Belanja</h5>
                    <div class="filter-border"></div>
                  </div>

                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6">
                    <span>Total Harga ({{items.length}}) Barang </span>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                    <span class="price-checkout">{{total | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</span>
                  </div>

                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 col-price-checkout" *ngIf="selectedShipmentOption">
                    <span>Total Ongkos Kirim </span>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 col-price-checkout" *ngIf="selectedShipmentOption">

                    <span class="price-checkout">{{selectedShipmentOption.value | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</span>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="filter-border"></div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 col-price-checkout">
                    <span>Total Tagihan</span>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 col-price-checkout" *ngIf="selectedShipmentOption">
                    <span class="price-checkout">{{(selectedShipmentOption.value > 0 ? total + selectedShipmentOption.value : total) | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</span>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-btn-checkout">
                    <button class="btn btn btn-web btn-checkout" (click)="checkout()" *ngIf="selectedShipmentOption">Bayar</button>
                    <button class="btn btn-web btn-lanjut-belanja" (click)="cancel()"><i class="fa fa-arrow-left"></i> Kembali Ke Troli</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-none">
        <h5 class="modal-title modal-title-fixed" *ngIf="modalTitle">{{modalTitle}}</h5>
        <button type="button" class="close modal-btn-close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row modal-content-fixed">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form>
              <div class="form-group">
                <label for="labelAddressHelp">Label Alamat</label>
                <input type="text" class="form-control" id="label-address" placeholder="Tulis Nama Alamat" [formControl]="addressLabel" [value]="addressLabel.value | titlecase">
                <small id="labelAddressHelp" class="form-text text-muted" *ngIf="addressLabel.untouched || (addressLabel.valid || addressLabel.untouched)">Contoh: Alamat Rumah, Alamat Kantor, Apartemen, Dropship</small>
                <small class="text-warning" *ngIf="addressLabel.invalid && (addressLabel.touched || addressLabel.dirty)">Minimal 3 karakter, kurang {{3 - addressLabel.value.length}} lagi</small>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label for="receiver_name">Nama Penerima</label>
                    <input type="text" class="form-control" id="receiver_name" name="receiver_name" [formControl]="addressReceiver" [value]="addressReceiver.value | titlecase">
                    <small class="text-warning" *ngIf="addressReceiver.invalid && (addressReceiver.touched || addressReceiver.dirty)">Minimal 3 karakter, kurang {{3 - addressReceiver.value.length}} lagi</small>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label for="hp">Nomor HP</label>
                    <input type="text" class="form-control" id="hp" name="hp"
                           [formControl]="addressHp" appInputNumberOnly>
                    <small class="text-warning" *ngIf="addressHp.invalid && (addressHp.touched || addressHp.dirty)">Minimal 8 angka, kurang {{8 - addressHp.value.length}} lagi</small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                  <div class="form-group">
                    <label for="kecamatan">Kecamatan</label>
                    <div class="autocomplete">
                      <input type="text" class="form-control"
                             id="kecamatan" name="kecamatan" placeholder="Tulis nama kecamatan tujuan"
                             [formControl]="addressDistrict">
                      <div id="autocomplete-list" class="autocomplete-items" *ngIf="addressSuggestions$ | async as suggestions">
                        <div class="suggestion" *ngFor="let suggestion of suggestions" (click)="setDistrictText(suggestion)">
                          {{suggestion.name_text}}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label for="kodepos">Kode Pos</label>
                    <input type="text" class="form-control" id="kodepos"
                           [formControl]="addressPostalCode" appInputNumberOnly>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Alamat</label>
                <textarea rows="5" name="address" id="address" class="form-control" placeholder="Isi dengan nama jalan, nomor rumah, nomor kompleks, nama gedung, lantai atau nomor unit." [formControl]="addressText"></textarea>
                <small class="text-warning" *ngIf="addressText.invalid && (addressText.touched || addressText.dirty)">Minimal 8 karakter</small>
              </div>
              <div class="form-group">
                <div class="">
                  <label class="label-set-primary"><input type="checkbox" name="set-primary" [(ngModel)]="addressPrimary" [checked]="addressPrimary">Jadikan Alamat Utama</label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                  <button class="btn btn-default" data-dismiss="modal" (click)="resetForm()">Batal</button>
                  <button type="submit" class="btn btn-web btn-web" [disabled]="addressLabel.invalid || addressReceiver.invalid || addressDistrict.invalid || addressPostalCode.invalid || addressHp.invalid || addressText.invalid || !addressDistrictID" (click)="saveAddress()">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalChangeAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-none">
        <h5 class="modal-title modal-title-fixed">Pilih Alamat Pengiriman</h5>
        <button type="button" class="close modal-btn-close" data-dismiss="modal" aria-label="Close">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row modal-content-fixed">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="search-address">
              <input type="text" name="searchAddress" #searchAddressInput (keyup)="searchAddress(searchAddressInput.value)" class="form-control search-background" placeholder="Tulis Nama Alamat / Kota / Kecamatan tujuan pengiriman" >
            </div>
            <div class="clearfix"></div>
            <div class="box-address">
              <div class="add-new-address">
                <div class="panel panel-default panel-new-address">
                  <div class="panel-body panel-box-title " (click)="addAddress()">
                    <h5>Tambah Alamat Baru</h5>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="address-list" *ngIf="addresses">
                <div class="panel panel-default panel-address" *ngFor="let address of addresses" [ngClass]="{'panel-primary': address.is_primary}">
                  <div class="panel-body panel-box-title">
                    <div class="details-address-box">
                      <div class="row list-address-select">
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 list-address-select-box">
                          <span class="fullname-address">{{address.address_name | titlecase}}</span>
                          <span class="details-address details-address-buram">({{address.address}}, {{address.district_name}}, {{address.city_name}}, {{address.province_name}})</span>
                          <button class="btn btn-web btn-xs btn-primary-address" *ngIf="address.is_primary">Utama</button>
                          <div class="clearfix"></div>
                          <span class="hp">{{address.hp}}</span>
                          <div class="clearfix"></div>
                          <span class="details-address space">{{address.address}}</span>
                          <div class="clearfix"></div>
                          <span class="kecamatan">{{address.district_name}}</span>
                          <span class="kota">{{address.city_name}}</span>
                          <span class="province">{{address.province_name}}</span>
                          <span class="kodepos">{{address.postal_code}}</span>
                          <div class="option-address-process">
                            <span class="btn-ubah-alamat" (click)="editAddress(address, true)">Ubah Alamat</span>
                            <span class="address-border btn-select-primary" *ngIf="!address.is_primary" (click)="setAddressAsPrimary(address)">Jadikan Alamat Utama</span>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                          <button class="btn btn-web btn-select-address" *ngIf="selectedAddress !== address" (click)="selectAddress(address)">Pilih Alamat</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalBayar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-bayar" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-none header-bayar">
        <a href="#" class="modal-header-bayar">
          <i class="glyphicon glyphicon-remove" data-dismiss="modal" aria-label="Close" id="modal-bayar-close"></i>
          <i class="glyphicon glyphicon-arrow-left" *ngIf="paymentListSelected" (click)="selectPayment()"></i>
        </a>
        <span class="modal-title modal-title-bayar">Pembayaran</span>
      </div>

      <div class="modal-header modal-header-none header-detail">
        <a href="#"  class="modal-header-bayar">
          <i class="glyphicon glyphicon-remove" id="modal-detail-close" (click)="closeDetail()"></i>
        </a>
        <span class="modal-title modal-title-bayar">Detail Tagihan</span>
      </div>
      <div class="modal-header modal-header-none header-metode-bayar">
        <a href="#"  class="modal-header-bayar">
          <i class="glyphicon glyphicon-remove" id="modal-metode-bayar-close"></i>
        </a>
        <span class="modal-title modal-title-bayar">Pilih Metode Pembayaran</span>
      </div>
      <div class="filter-border"></div>
      <div class="modal-body">
        <div class="row modal-content-fixed modal-content-bayar">
          <div class="pl-16 pr-16 mt-16 mb-16 header-home" id="amount_summary" style="">
            <div class="row m-0">
              <div class="col-xs-12 detail__tagihan-container">
                <div class="col-xs-7 pl-0">
                  <div class="fs-18 mb-8 mt-16 bold with-currency">
                    <span class="payment-left">{{cartTotal + shipping_cost | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</span>
                  </div>
                </div>
                <div class="col-xs-5 pr-0">
                  <div class="detail__tagihan popup__trigger click-detail-tagihan" (click)="clickDetail()">Detail Tagihan
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form id="form_data" autocomplete="off">
            <div id="home" class="pl-16 pr-16 mt-16 mb-16 header-home">
              <div class="choose-method-label mb-8 ml-16 mt-8">Pilih Metode Pembayaran</div>
              <div class="payment__box__shadow mt-16" *ngIf="banks$ | async as banks">
                <div class="payment-main history payment-select" (click)="paymentListSelect(bank)" *ngFor="let bank of banks">
                  <div class="payment__list" def-stat="enabled">
                    <div class="payment__logo left" lazy-load-images>
                      <i class="sprite-small">
                        <img [attr.data-src]="bank.logo_bank | wrapImage">
                      </i>
                    </div>
                    <div class="payment__detail left">
                      <div class="payment__name">{{bank.type_bayar | typeBayar}}</div>
                      <div class="payment__info">{{bank.name}}</div>
                    </div>
                    <div class="pull-right fs-20 arrow"><i class="glyphicon glyphicon-chevron-right black"></i></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pl-16 pr-16 mt-16 mb-16 header-home" id="box-transfer">
              <div class="row m-0">
                <div class="popup popup__payment-method-detail">
                  <div class="popup-content">
                    <div id="popup-method-detail">
                      <div class="payment-method__detail">
                        <div class = "detail-header" >
                          <div class = "detail-header__name" *ngIf="paymentListSelectedBank">{{paymentListSelectedBank.name}} {{paymentListSelectedBank.type_bayar | typeBayar}}</div>
                          <div class="detail-header__logo align-right">
                            <i class="sprite-small sprite-cimb" *ngIf="paymentListSelectedBank">
                              <img [src]="paymentListSelectedBank.logo_bank | wrapImage">
                            </i >
                          </div>
                          <input type="hidden" name="manual_transfer_bank_name " value="Bank CIMB">
                        </div>
                        <div class = "detail-content" >
                          <!--<div class="text__field mb-24" input-name = "account_number">-->
                            <!--<label class ="textfield__label" >No.Rekening Anda </label>-->
                            <!--<input class = "text input-detail account_number payment-input" appInputNumberOnly [formControl]="bankAccountNumber">-->
                            <!--<span class = "highlight" > </span><span class="bar error"></span >-->
                            <!--<p class = "m-0 fs-12 textfield__label-bottom account_number_hint" > Masukan nomor rekening sesuai buku tabungan </p>-->
                            <!--<div class="clearfix"></div >-->
                          <!--</div>-->
                          <!--<div class="text__field mb-16" input-name="account_name">-->
                            <!--<label class="textfield__label">Nama Pemilik Rekening</label >-->
                            <!--<input class = "text input-detail account_name payment-input" name = "account_name" [formControl]="bankAccountName">-->
                            <!--<span class = "highlight" > </span>-->
                            <!--<span class="bar error"></span >-->
                            <!--<p class = "m-0 fs-12 textfield__label-bottom account_name_hint" > Masukan nama pemilik rekening sesuai buku tabungan </p>-->
                            <!--<div class="clearfix"></div >-->
                          <!--</div>-->
                          <div [innerHTML]="paymentListSelectedBank.description" *ngIf="paymentListSelectedBank">
                          </div >
                        </div>
                      </div>
                    </div>
                  </div>
                </div >
              </div>
            </div>
            <div class="bottom-sheet" id="bottom-sheet-saldo">
              <div class="bottom-sheet__overlay"></div>
              <div class="bottom-sheet__container">
                <div class="bottom-sheet_err-warning">
                  <div class="error_server" id="error-bayar"></div>

                  <button  class="btn btn-web" style="width: 100%; cursor: pointer"
                           *ngIf="paymentListSelected"
                           (click)="checkoutConfirm()"
                           [disabled]="!paymentListSelectedBank" [class.hidden]="loading">
                    Bayar
                  </button>
                  <button class="btn btn-web" disabled *ngIf="loading" style="width: 100%" lazy-load-images>
                    Sedang Diproses
                    <img alt="" width="18" [attr.data-src]="'assets/images/waiting.gif'">
                  </button>
                </div>
              </div>
            </div>
          </form>

          <div class="pl-16 pr-16 mt-16 mb-16 header-home" id="option-transfer">

          </div>
          <div class="pl-16 pr-16 mt-16 mb-16 header-home" id="detail-product-order">
            <div class="popup__payment-detail popup__container">
              <div class="pl-16 pr-16">
                <div class="mt-16">
                  <table class="table-list">
                    <tbody>
                    <tr *ngFor="let item of items">
                      <td>
                        <p class="payment-product-name mb-0 fs-12">{{item.product_brand}} - {{item.product_name}}</p>
                        <p class="product-number mb-0 fs-12">{{item.quantity}} x {{item.price | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</p>
                      </td>
                      <td class="pl-20"><span class="pull-left fs-12"></span>
                        <span class="pull-right fs-12">{{item.price * item.quantity | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
