.product-name-checkout span {
  font-size: 10px;
  background: aliceblue;
}

hidden {
  display: none;
}

visible {
  display: block;
}

.pull-right {
  padding: 5px;
  margin-top: 15px;
  margin-left: 35px;
}