<div id="wrapper" class="homepage-1">
  <ngx-loading-bar [color]="color" [includeSpinner]="includeSpinner"></ngx-loading-bar>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-subscriber></app-subscriber>
  <app-footer></app-footer>
</div>
