<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-1"></div>
  <div class="col-md-8 col-sm-8 col-xs-10 reset-password">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 style=""><i class="fa fa-check" *ngIf="isSuccess"></i>{{textTitle}}</h3>
        <form class="form-reset-password" [formGroup]="passwordForm">
          <div class="form-group">
            <label class="normal-font">Password:</label>
            <input type="password" class="form-control" name="password" minlength="6" placeholder="Masukkan Password" formControlName="password" #pass>
            <password-strength-meter [password]="passwordForm.get('password').value" [minPasswordLength]="6" [enableFeedback]="true"></password-strength-meter>
            <small class="help-block" *ngIf="pass.value.length < 6">Password minimal 6 karakter</small>
          </div>
          <div class="form-group">
            <label class="normal-font">Konfirmasi Password:</label>
            <input type="password" class="form-control" minlength="6" name="password_confirm" placeholder="Masukkan Konfirmasi Password" formControlName="password_confirm">
            <small class="help-block text-warning" *ngIf="passwordForm.errors?.passwordMatch && (passwordForm.controls.touched || passwordForm.dirty)">password tidak cocok</small>
          </div>
          <div class="form-group" *ngIf="passwordForm.valid">
            <button type="submit" class="btn btn-md btn-reset-password lupa-password" (click)="reset()">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<swal #toastBerhasil
      timer="3000"
      toast="true"
      type="success"
      text="Password berhasil di perbarui !"
      [showConfirmButton]="false"
      position="top-right">

</swal>
