<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/', gender]">{{gender | titlecase}}</a></li>
        <li class="breadcrumb-item" routerLinkActive="active breadcrumb-link-active" *ngIf="subcategory">
          <a [routerLink]="['/', gender, subcategory]">{{subcategory | slugToTitleCase}}</a>
        </li>
        <li class="breadcrumb-item" routerLinkActive="active breadcrumb-link-active" *ngIf="group">
          <a [routerLink]="['/', gender, subcategory, group]">{{group | slugToTitleCase}}</a>
        </li>
        <li class="breadcrumb-item" aria-current="page" routerLinkActive="active breadcrumb-link-active" *ngIf="product && product_name">
          <a [routerLink]="['/', gender, subcategory, group, product]" routerLinkActive="breadcrumb-link-active">{{ (product_name.length>61)? (product_name | slice:0:58)+' ...':(product_name) }}</a>
        </li>
      </ol>
    </nav>
  </div>
</div>
