.breadcrumb{
  color:#2b2a2f;
  background-color: #F9F9F9;
  padding: 12px 15px 8px 15px;
}

.breadcumb span {
  color:#403e72;
}

/*custom breadcrumbDirective*/
.breadcrumb>li+li:before {
  content: ">\00a0";
  color: #b36b00;
}

.breadcrumb li>a{
  cursor: pointer;
  text-decoration: none;
  color: #b36b00;
}

.breadcrumb-link-active {
  cursor: text !important;
}
