html,body{
    width:100%;
    margin:0;
    padding:0;
    height:auto;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'helvetica';
    font-weight: 400;
    color:#2b2a2f;
    /*background-color: #F9F9F9;*/
    background-color: #FFFFFF;
}
