<div class="filter-border" *ngIf="brands && brands.length"></div>
<div class="row" *ngIf="brands && brands.length">
  <h5>Brand</h5>
</div>
<div class="row" *ngIf="brands && brands.length">
  <div class="col-md-12 col-sm-12 col-xs-12 filter-brand">
    <div class="input-group stylish-input-group">
      <input type="text" class="form-control" placeholder="Search" [formControl]="searchBrandControl" (keyup)="searchBrand()">
      <span class="input-group-addon">
          <button type="submit">
             <span class="glyphicon glyphicon-search"></span>
          </button>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 filter-brand-option" *ngIf="brands && brands.length">
    <label class="normal-font" [attr.label-value]="brand | titlecase" *ngFor="let brand of brands; let i = index">
      <input type="checkbox" [value]="brand" [attr.data-value]="brand | titlecase"
             [(ngModel)]="active[i]"
             (ngModelChange)="selectBrand(brand, i)">
      {{brand | titlecase}}
    </label>
  </div>
</div>
