<ng-template ngIf="subdepartment">
  <div class="row filter-kelompok-option">
    <h5 *ngIf="subdepartment">{{subdepartment.name}}</h5>
    <div class="row filter-kelompok-option">
      <div class="col-md-12 col-sm-12 col-xs-12 kelompok-option" *ngIf="subkelompoks && subkelompoks.length; else noData">
        <label class="normal-font" [attr.label-value]="subkelompok.name" *ngFor="let subkelompok of subkelompoks">
          <input type="checkbox"
                 [value]="subkelompok.id"
                 [attr.data-value]="subkelompok.name | titlecase"
                 [(ngModel)]="active[subkelompoks.indexOf(subkelompok)]"
                 (ngModelChange)="selectKelompok(subkelompok)">
          {{ (subkelompok.name.length>26)? (subkelompok.name | slice:0:26 | titlecase)+'..':(subkelompok.name) }}
        </label>
      </div>
      <ng-template #noData>
        <small class="col-md-12 col-sm-12 col-xs-12 kelompok-option">
          Belum ada subkategori untuk kategori ini
        </small>
      </ng-template>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="subkelompok">
  <label class="normal-font" [attr.label-value]="subkelompok.name">
    <input type="checkbox" [value]="subkelompok.id" [attr.data-value]="subkelompok.name">{{subkelompok.name}}
  </label>
</ng-template>
<!--<div class="row filter-kelompok-option">-->
  <!--<h5 *ngIf="subdepartment">{{subdepartment.name}}</h5>-->
  <!--<div class="col-md-12 col-sm-12 col-xs-12 kelompok-option">-->
    <!--<label class="normal-font" label-value="Atasan Muslim"><input type="checkbox" value="" data-value="Atasan Muslim">Atasan Muslim </label>-->
    <!--<label class="normal-font" label-value="Bawahan Muslim"><input type="checkbox" value="" data-value="Bawahan Muslim">Bawahan Muslim </label>-->
    <!--<label class="normal-font" label-value="Gamis dan Jumpsuit"><input type="checkbox" value="" data-value="Gamis dan Jumpsuit">Gamis dan Jumpsuit </label>-->
    <!--<label class="normal-font" label-value="Olahraga"><input type="checkbox" value="" data-value="Olahraga">Olahraga </label>-->
    <!--<label class="normal-font" label-value="Perlengkapan Shalat"><input type="checkbox" value="" data-value="Perlengkapan Shalat">Perlengkapan Shalat </label>-->
  <!--</div>-->
<!--</div>-->
