<div class="col-md-2 col-sm-2"></div>
<div class="col-md-8 col-sm-8 col-xs-12" [class.shakeit]="loginFail">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group alert alert-danger login-indicator" *ngIf="loginFail"> Email atau password salah!</div>
    <div class="form-group" [ngClass]="{'alert alert-danger': email.invalid && (email.dirty || email.touched)}">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [formControl]="email" required>
      <span *ngIf="email.invalid && (email.dirty || email.touched)">{{email.status | lowercase}} email</span>
    </div>
    <div class="form-group" *ngIf="email.valid">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" [formControl]="password" required>
    </div>
    <div class="lupa-password" *ngIf="email.valid && password.valid">
      <a [routerLink]="['/pengguna/reset-password']">Lupa Password ?</a>
    </div>
    <div class="checkbox" *ngIf="email.valid && password.valid">
      <div class="skin skin-minimal ">
        <label class="label-remember"><input type="checkbox" name="remember" [(ngModel)]="isRememberMe" [checked]="isRememberMe"><p>Saya ingin tetap masuk</p></label>
      </div>
    </div>
    <div class="form-group" *ngIf="email.valid && password.valid">
      <button type="submit" class="btn btn-default">Masuk</button>
    </div>
  </form>
</div>
<div class="col-md-2 col-sm-2"></div>
