#banner-slider .carousel-caption {
    text-transform: capitalize;
}

/*.container-fluid {*/
    /*padding-right: 0px;*/
    /*padding-left: 0px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
/*}*/
