<!--<div class="container-fluid">-->
<div class="container">

  <div id="main-slider" class="content-fixed">
    <!-- Slider -->
    <div id="banner-slider">
      <div id="carouselSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselSlider" *ngFor="let i of sliders; let index = index" [attr.data-slide-to]="index"></li>
        </ol>
        <div class="carousel-inner">

          <div class="item " *ngFor="let image of sliders; let isFirst = first;" [class.active]="isFirst" lazy-load-images>
            <img alt="Slider Image" [attr.data-src]="image.image">
            <div class="carousel-caption">
              {{image.title}}
            </div>
          </div>
        </div>

        <a class="leftSlider" href="#carouselSlider" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" ></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="rightSlider" href="#carouselSlider" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
