<div class="filter-border" *ngIf="sizes && sizes.length"></div>
<div class="row" *ngIf="sizes && sizes.length">
  <h5>Ukuran</h5>
</div>
<div class="row product-option" *ngIf="sizes && sizes.length">
  <div class="col-md-4 col-sm-4 col-xs-4 list-size" *ngFor="let size of sizes; let i = index">
    <button class="btn btn-xs btn-default btn-size"
            [ngClass]="{'activeState': state[size], 'inactiveState': !state[size]}"
            [attr.data-value]="size"
            (click)="changeState(i, size)">
      {{size | uppercase}}
    </button>
  </div>
</div>
