.open-close-container {
  position: absolute;
  right: 30%;
  top:32%;
}
.open-close-container i{
  color: red;
}
.product-image-list img {
  cursor: pointer;
  border: 1px solid #000000;
}

.add-to-cart svg {
  /* this is the check icon */
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  /* move the icon on the right - outside the button */
  transform: translateX(50%) translateY(-50%);
}

#variants {
  /*padding : 10px;*/
  padding : 6px;
  margin: 0 10px 10px 25px;
  border-radius: 2px;
}


#paddingkiri {
  margin-left: 15px;
}

#paddingkanan {
  margin-left: -30px;
}

.add-to-cart svg path {
  -webkit-transition: stroke-dashoffset 0.5s; /* For Safari 3.1 to 6.0 */
  transition: stroke-dashoffset 0.5s;
}

.add-to-cart.is-added span {
  /* product added to the cart - hide text message on the left with no transition*/
  color: transparent;
  transform: translateX(-100%);
}
.add-to-cart.is-added svg {
  /* product added to the cart - move the svg back inside the button */
  transform: translateX(-50%) translateY(-50%);
}
.add-to-cart.is-added svg path {
  stroke-dashoffset: 0;
}

.add-to-cart:active span {
  /* product added to the cart - hide text message on the left with no transition*/
  color: transparent;
  transform: translateX(-100%);
}
.add-to-cart:active svg {
  /* product added to the cart - move the svg back inside the button */
  transform: translateX(-50%) translateY(-50%);
}
.add-to-cart:active svg path {
  stroke-dashoffset: 0;
}

.out-of-stock-text {
  color: #d00000;
}

h3 {
  margin-left: 15px;
}

#sisa {
  /*margin-bottom: 10px;*/
  margin-bottom: 0px;
}

.form-control {
  padding: 0px 5px;
  font-size: 12px;
  /*height: 31px;*/
  height: 25px;
}

#sisa p{
  margin-left: 40px;
}

h5 {
  margin-top: 10px;
}
