
<div id="content" class="content-fixed">
  
  <div class="container">
      
    <ng-template app-breadcrumb></ng-template>
    
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">

        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3 product-image-list" *ngIf="product_images$ | async as productImages" lazy-load-images>
            <img *ngFor="let image of productImages;"
                 (click)="setMainImage(image.image)"
                 [attr.data-src]="image.image | wrapImage">
          </div>
          <div class="col-md-9 col-sm-9 col-xs-6" *ngIf="mainImage">
            <div class="product-image" lazy-load-images>
              <img alt="Main Image" [attr.data-src]="mainImage"
                   [imageZoom]="mainImage"
                   [lensHeight]="455"
                   [lensWidth]="685"
                   [scrollZoom]="false" [lensBorder]="1">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 col-sm-7 col-xs-12">

        <div class="row" *ngIf="product_item">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="product-description">
              <div class="product-name-details">
                <div>
                  <span>{{product_item.brand | titlecase}}</span> - {{product_item.name | titlecase}}
                </div>
              </div>

              <div class="product-price-details" *ngIf="mainPrice">
                <span *ngIf="discountPrice">{{discountPrice | currency: 'Rp  ':'symbol':'1.0-0' | customCurrency}}</span>
                <b>{{mainPrice | currency: 'Rp  ':'symbol':'1.0-0' | customCurrency}}</b>
              </div>

              <div class="clearfix"></div>
              <div class="product-description-details">
                <h5><strong>Pengiriman</strong></h5>
                <div class="row" id="kirim">
                  <div class="col-md-12 col-sm-12 col-xs-12 list-size">
                    <div class="row" id="marginbawah">
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        Pengiriman ke
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <input type="text" class="form-control"
                               id="kecamatan" name="kecamatan" placeholder="Tulis Kecamatan Tujuan"
                               autocomplete="off"
                               [formControl]="addressVillage">
                        <div id="autocomplete-list" class="autocomplete-items" *ngIf="(addressSuggestions$ | async)?.length > 0 && (addressVillage.value)?.length > 0">
                          <div class="suggestion" *ngFor="let suggestion of (addressSuggestions$ | async)" (click)="setVillageText(suggestion)">
                            {{suggestion.name_text}}
                          </div>
                        </div>
                        <small class="text-warning" *ngIf="(addressSuggestions$ | async)?.length === 0">Kecamatan tidak ditemukan, coba kata kunci lainya</small>
                      </div>
                    </div>
                    <div class="row" id="marginbawah">
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        Ongkos Kirim
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <label>
                          <select class="form-control">
                            <option *ngFor="let shippingOption of shippingOptions">
                              {{shippingOption.service | uppercase}} ({{shippingOption.etd.includes('hari' || 'HARI') ? shippingOption.etd : shippingOption.etd + ' hari'}}) {{shippingOption.cost | currency : 'Rp ' : 'symbol' : '1.0-0'}}
                            </option>
                          </select>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <h5><strong>Variant Tersedia</strong></h5>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 list-size" *ngFor="let variant of variants">
                    <button id="variants" class="btn btn-xs btn-default btn-size" (click)="setVariant(variant)">{{variant.variant_text}}</button>
                  </div>
                </div>

                <h5><strong>{{stockValue.value < 1 ? 'Kuantitas [Stok Habis]' : 'Kuantitas'}}</strong></h5>
                <div class="row">
                  <div class="input-group input-group-sm product-total-buy" *ngIf="stockValue && stockValue.value > 0 || stockValue.value === ''">
                    <span class="input-group-addon" id="btn-min" (click)="decreaseStockValue()"><i class="glyphicon glyphicon-minus"></i></span>
                    <input type="text" name="total" id="total" class="form-control" [formControl]="stockValue" (keyup)="keepAtMaxStockValue()" product-quantity-control appInputNumberOnly>
                    <span class="input-group-addon" id="btn-plus" (click)="increaseStockValue()">
                        <i class="glyphicon glyphicon-plus"></i>
                    </span>
                  </div>
                  <div id="sisa" *ngIf="selected_variant">
                    <p> Tersedia {{selected_variant.stock}} buah </p>
                  </div>
                </div>

                <div class="btn-option">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <button class="btn btn-default btn-order add-to-cart" (click)="addToCart()" [disabled]="loading || stockValue.value < 1" [class.disabled]="loading || stockValue.value < 1">
                        <span>{{stockValue.value < 1 ? 'Stok Habis' : 'Pesan'}}</span>
                        <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                          <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
                        </svg>
                      </button>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                      <button class="btn btn-wishlist" (click)="addToWishlist()" ngDefaultControl>
                        <i [@tgIcon]="wishlistService.isWishlist && wishlistService.onDetail === product_item.id? 'actived':'unActive'" class="{{wishlistService.isWishlist && wishlistService.onDetail === product_item.id? 'fa fa-heart' : 'fa fa-heart-o'}}" ></i> {{wishlistService.isWishlist && wishlistService.onDetail === product_item.id? 'Hapus Wishlist':'Tambahkan ke wishlist' }}
                      </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 product-details-info">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#spesifikasi">Spesifikasi Produk</a></li>
          <!--<li><a data-toggle="tab" href="#detail">Detail Ukuran</a></li>-->
          <!--<li><a data-toggle="tab" href="#kebijakan">Kebijakan Pengembalian</a></li>-->
          <!--<li><a data-toggle="tab" href="#pengiriman">Info Pengiriman</a></li>-->
        </ul>

        <div class="tab-content">
          <div id="spesifikasi" class="tab-pane fade in active">
            <h3>Spesifikasi Produk</h3>
              <div class="row" id="kategori">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <b>Kategori</b>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <b>{{subcategory | slugToTitleCase}}  &#10148;  {{group | slugToTitleCase}}</b>
                </div>
              </div>
              <div class="row" id="merek">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <b>Merek</b>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <b *ngIf="product_item">{{product_item.brand | uppercase}}</b>
                </div>
              </div>
              <p *ngIf="selected_variant">SKU : ({{selected_variant.sku_number}}) <br>
                  {{selected_variant.description}}</p>
              <p [innerHTML]="product_item.description" *ngIf="product_item"></p>
          </div>
          <div id="detail" class="tab-pane fade">
            <h3>Detail Ukuran</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div id="kebijakan" class="tab-pane fade">
            <h3>Kebijakan Pengembalian</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
          <div id="pengiriman" class="tab-pane fade">
            <h3>Info Pengiriman</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row recomendation" *ngIf="productsSlider && productsSlider">
      <div class="col-md-6 col-sm-6 col-xs-6 other" id="paddingkiri">
        <span id="kiri">PRODUK LAIN</span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 more" id="paddingkanan">
        <span id="kanan"><a [routerLink]="['/', gender, subdepartment.slug]">selengkapnya <i class="glyphicon glyphicon-chevron-right"></i></a></span>
      </div>
    </div>
    <div class="row recomendation-slider">
      <div class="clearfix"></div><br>
      <div id="geser">
        <ng-template appProductSlider ></ng-template>
      </div>
    </div>
  </div>
</div>
