.pagination > li > a {
  cursor: pointer;
}

.form-control {
  height:34px;
}

label {
  margin-right: 10px;
}


.filter-price {
  padding: 0 0 10px 0;
}

.filter-price-option {
  padding: 20px 0 20px 0;
}

.filter-border, .wishlist-border {
  padding: 0 0 15px 0;
  border-top: 1px solid #d7d7d7;
}

.filter-brand-option {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 120px;
  width: 95%;
  margin-bottom: 35px;
}

.filter-color-option {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 180px;
  width: 95%;
}

.breadcrumb{
  color:#2b2a2f;
  background-color: #F9F9F9;
  padding: 12px 15px 8px 15px;
}

.breadcumb span {
  color:#403e72;
}

/*custom breadcrumbDirective*/
.breadcrumb>li+li:before {
  content: ">\00a0";
  color: #b36b00;
}

.breadcrumb li>span{
  cursor: pointer;
  text-decoration: none;
  color: #b36b00;
}

.breadcrumb-link-active {
  cursor: text !important;
}

.kelompok-option .normal-font span {
  padding-top: -4px;
}
