<div class="col-md-2 col-sm-2"></div>
<div class="col-md-8 col-sm-8 col-xs-12" [class.shakeit]="registerFail">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group alert alert-danger register-indicator" *ngIf="registerFail"> {{failMessage}}</div>
    <div class="form-group" [ngClass]="{'alert alert-danger': isRegistered}">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" autocomplete="off" formControlName="email">
      <span class="help-block" *ngIf="isRegistered">email sudah terdaftar, silahkan konfirmasi email anda.</span>
    </div>
    <div class="form-group" *ngIf="registerForm.get('email').valid && (registerForm.get('email').touched || registerForm.get('email').dirty) && !isRegistered">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" formControlName="password" #pass>
      <password-strength-meter [password]="registerForm.get('password').value" [minPasswordLength]="6" [enableFeedback]="true"></password-strength-meter>
      <span class="help-block" *ngIf="pass.value.length < 6">Password minimal 6 character</span>
    </div>
    <div class="form-group" *ngIf="(registerForm.get('password').touched || registerForm.get('password').dirty) && !isRegistered"
         [ngClass]="{'alert alert-danger': registerForm.errors?.passwordMatch && (registerForm.touched || registerForm.dirty)}">
      <label for="password_confirm">Konfirmasi Password</label>
      <input type="password" class="form-control" id="password_confirm" placeholder="Enter konfirmasi password"
             name="password_confirm" formControlName="password_confirm">
      <span class="help-block text-warning" *ngIf="registerForm.errors?.passwordMatch && (registerForm.controls.touched || registerForm.dirty)">password tidak cocok</span>
    </div>
    <div class="form-group" *ngIf="registerForm.valid && !isRegistered">
      <button type="submit" class="btn btn-default">Buat Akun</button>
    </div>
  </form>
</div>
<div class="col-md-2 col-sm-2"></div>
