<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="sliders && sliders.length">
  <div id="carouselLeft" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselLeft" *ngFor="let slider of sliders; let i = index; let isFirst = first" [attr.data-slide-to]="i" [class.active]="isFirst"></li>
    </ol>
    <div class="carousel-inner">

      <div class="item" *ngFor="let slider of sliders; let isFirst = first" [class.active]="isFirst" lazy-load-images>
        <img alt="{{slider.text}}" class="carousel-banner" [attr.data-src]="slider.image">
        <div class="carousel-caption">
          {{slider.title}}
        </div>
      </div>

    </div>

    <a class="left-carousel" href="#carouselLeft" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right-carousel" href="#carouselLeft" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
