<div class="newest">
  <div class="container">
    <div class="newest-content">
      <div class="newest-tab">
        <ul id="myTab" class="nav nav-tabs newest" role="tablist">
          <li role="presentation" class="active">
            <a href="#1" id="cat-1" role="tab" data-toggle="tab" aria-controls="1" (click)="_selector = 'newest'" aria-expanded="true">Produk Terbaru</a>
          </li>
          <li role="presentation">
            <a href="#2" role="tab" id="cat-2" data-toggle="tab" aria-controls="2" (click)="_selector = 'popular'">Produk Terpopuler</a>
          </li>
          <li role="presentation">
            <a href="#3" role="tab" id="cat-3" data-toggle="tab" aria-controls="3" (click)="_selector = 'best-selling'">Produk Terlaris</a>
          </li>
        </ul>
        <hr id="myHr" />

        <app-product-slider [selectedTab]="_selector"></app-product-slider>
      </div>

      <div class="row">
        <button id="selengkapnya" class="btn btn-default btn-loadmore">SELENGKAPNYA <i class="glyphicon glyphicon-chevron-right"></i></button>
      </div>
    </div>
  </div>
</div>
