.nav-tabs.newest > li.active > a, .nav-tabs.newest > li.active > a:focus, .nav-tabs.newest > li.active > a:hover {
  background-color: #f9f9f9;
}

.valign-center {
  vertical-align: center;
}


.newest-content{
  padding-top:36px;
  padding-bottom:30px;
}
.newest-content{
  text-align:center;
}
.newest-content .newest{
  display:inline-block;
}
.nav-tabs.newest{
  border:none;
  /*margin-bottom:40px;*/
  margin-bottom:-5px;
}
.nav-tabs.newest>li{
  margin-right:30px;
}
.nav-tabs.newest>li:last-child{
  margin-right:0px;
}
.nav-tabs.newest>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border:none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  /*font-weight:700;*/
  font-weight:bold;
  font-size: 13px;
  color:#7de8b6;
  text-transform:uppercase;
  padding-left:0;
  padding-right:0;
  font-family: 'helvetica';
}
.nav-tabs.newest>li.active>a,
.nav-tabs.newest>li.active>a:focus,
.nav-tabs.newest>li.active>a:hover{
  cursor: default;
  background-color: #fff;
  border:none;
  border-bottom: 2px solid #7de8b6;
  font-family: 'helvetica-bold';
  color: #1fad6b;

}
.nav-tabs.newest>li>a:hover{
  background:none;
  border:none;
  /*border-bottom: 2px solid #7de8b6;*/
  font-family: 'helvetica-bold';
  color: #1fad6b;
}

#myHr {
  border: 2px solid #FAFAFA;
}

.row {
  margin-right: -15px;
  margin-left: -7.5px
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#selengkapnya {
  visibility: hidden;
}
