<div class="row">
  <app-account-navigation [user]="user"></app-account-navigation>

  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body history-details-info content-bottom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Daftar Belanja</a></li>
        </ul>
        <div class="row account-address-header" [hidden]="!filterEnabled">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
            <div id="reportrange">
              <i class="fa fa-calendar picker-icon-left"></i>&nbsp;
              <span></span> <i class="fa fa-caret-down picker-icon-right"></i>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="input-group">
              <input type="text" class="form-control search-input" [(ngModel)]="_query" placeholder="Cari Nama Barang">
              <span class="input-group-btn">
                                      <button class="btn btn-default search-btn" (click)="doSearch()" type="button"><i class="fa fa-search"></i></button>
                                    </span>
            </div>
          </div>
        </div>
        <div class="row row-tab-transaction">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="nav nav-tabs">
              <li><a [routerLink]="" (click)="filterEnabled = !filterEnabled"> <i class="glyphicon glyphicon-filter tab-filter-transaction"></i>Filter</a></li>
              <li [class.active]="tab == 'all'"><a [routerLink]="" (click)="tab = 'all'">Semua</a></li>
              <li [class.active]="tab == 'new'"><a [routerLink]="" (click)="tab = 'new'">Menunggu Pembayaran</a></li>
              <li [class.active]="tab == 'bayar'"><a [routerLink]="" (click)="tab = 'bayar'">Sedang Diproses</a></li>
              <li [class.active]="tab == 'progress'"><a [routerLink]="" (click)="tab = 'progress'">Dalam Pengiriman</a></li>
              <li [class.active]="tab == 'finish'"><a [routerLink]="" (click)="tab = 'finish'">Selesai</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row history-transaction-list">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-history-transaction">
        <!-- start item -->
        <div class="list-oms" *ngFor="let item of items">
            <div class="list-oms__item list-oms__item--pointer">
                <div class="list-oms__item--flex">
                    <div class="list-oms__part">
                        <div class="list-oms__col">
                            <div class="row">
                                <div class="col-xs-12" *ngFor="let detail of item.order_details">
                                    <a href="javascript:;" class="list-oms__box oms__box--img">
                                        <img *ngIf="detail.product_image.length" [src]="detail.product_image[0].image" alt="muslim-cewek-2">
                                    </a>
                                    <div class="list-oms__box oms__box--info">
                                        <div class="info__section info__section--store info__section--row-ellipsis">
                                            <div class="gtm-event-dialog inline-block">
                                                <div class="info__section--title info-text--ellipsis info-text--capitalize text-ellipsis--w150 ">
                                                    {{ detail.product.name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="info__section info__section--invoice info__section--row-ellipsis">
                                            <div class="info__section--title info__section--ellipsis">{{ item.invoice }}</div>
                                            <span class="separate"></span>
                                            <div class="inline-block">
                                                <a href="#" (click)="openModal(item)" data-toggle="modal" data-target="#modalDetailsOrder" class="detail-order">Detail Pesanan</a>
                                            </div>
                                        </div>
                                        <div class="info__section info__section--total">
                                            <div class="info__section--title">{{ detail.created_at | date: 'd MMM y' }}</div>
                                            <span class="separate"></span>Total Pembayaran
                                            <span class="price-text">{{ detail.total_price | currency: 'Rp ': 'symbol' : '1.0-0' | customCurrency}}</span>
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-oms__col col-status-transaction">
                            <div class="info__section info__section--status info__section--row-ellipsis">
                                <p>Status</p>
                                <div class="status--black status--value info__section--row-ellipsis font-bold">{{ statuses[item.status] }}</div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="list-oms__action">-->
                        <!--<button class="btn btn-sm btn-web">Beli Lagi</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="list-oms" *ngIf="!items.length && !isLoading">
            <div class="list-oms__item list-oms__item--pointer">
                <h4 class="text-center">Belum ada transaksi</h4>
            </div>
        </div>

        <div class="list-oms" *ngIf="isLoading">
            <div class="list-oms__item list-oms__item--pointer">
                <h4 class="text-center">Memuat data...</h4>
            </div>
        </div>

        <!-- ./end of item -->
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="totalPages > 1">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <ul class="pagination">
      <li><a [routerLink]="" (click)="gotoPage(currentPage-1)"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
      <li *ngFor="let page of pages" [class.active]="page == currentPage"><a [routerLink]="" (click)="gotoPage(page)">{{ page }}</a></li>
      <li><a [routerLink]="" (click)="gotoPage(currentPage+1)"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
    </ul>
  </div>
</div>
<p>&nbsp;</p>

<!-- Start modal -->
<div class="modal fade" id="modalDetailsOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
         <div class="modal-header modal-header-none">
            <h5 class="modal-title modal-title-fixed">Detail Pesanan</h5>
            <button type="button" class="close modal-btn-close" data-dismiss="modal" aria-label="Close">
               <i class="glyphicon glyphicon-remove-circle"></i>
            </button>
         </div>
         <div class="modal-body modal-detail-order" *ngIf="selected && selected.order_details">
            <div class="row modal-content-fixed">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div id="dc" class="dialog-content unf-modal__content">
                     <div class="container-fluid">
                        <div id="rf" class="row-fluid">
                           <div>
                              <div class="popup-oms-detail ps ps--active-y" id="popup-order-detail" data-order-id="227386735" data-shop-id="2706045" data-shop-name="Air Mancur Official Shop">
                                 <div id="get-over-height">
                                    <div class="oms-detail__row row--invoice">
                                       <div class="oms-detail__col">
                                          <div class="oms-detail__item">
                                             <span>Nomor Invoice</span>
                                                <a [routerLink]="['invoice', selected.id]" target="_blank" class="status-color">{{selected.invoice}}</a>
                                                <div class="separate"></div>
                                                <a [routerLink]="['invoice', selected.id]" target="_blank">
                                                   <small class="status-color">Cetak</small>
                                                </a>
                                          </div>
                                             <div class="oms-detail__item">
                                                <span>Status</span>
                                                <p class="status--black status-color">{{ statuses[selected.status] }}</p>
                                             </div>
                                             <div class="oms-detail__item">
                                                <span>Tanggal Pembelian</span>
                                                <p class="status--black status-color">{{ selected.created_at | date: 'd MMM yyyy HH:mm:ss a' }}<span> WIB</span></p>
                                                <!-- <p class="status--black status-color">6 Nov 2018 05:18:28 WIB</p> -->
                                             </div>
                                       </div>
                                       <div class="oms-detail__col">
                                          <!--<button class="btn btn-web btn-small mb-5">Beli Lagi</button>-->

                                          <div class="tag-info">Untuk bantuan silakan klik
                                             <a [routerLink]="['/page/help-contacts']" target="_blank">disini</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="oms-detail__row row--product">
                                       <div class="oms-detail__col row--header">
                                          <div class="row--product__col">
                                             <div class="col__header">Daftar Produk</div>
                                          </div>
                                          <div class="row--product__col">
                                             <div class="col__header">Harga Barang</div>
                                          </div>
                                       </div>

                                       <!-- start loop -->
                                       <div *ngFor="let detail of selected.order_details" class="oms-detail__col row--product__item product-item-detail items-productid-324619732">
                                           <div class="row--product__col">
                                               <div class="product__item--img">
                                                   <a target="_blank" (click)="goToProduct(detail.product_id)">
                                                       <img *ngIf="detail.product_image.length" [src]="detail.product_image[0].image" alt="muslim-cewek-2">
                                                   </a>
                                               </div>
                                               <div class="product__item--info">
                                                   <div>
                                                       <a (click)="goToProduct(detail.product_id)" class="status-color" target="_blank">{{ detail.product.name }}</a>
                                                       <p>
                                                           <span>{{ detail.qty }}</span>
                                                           Barang(<span>{{ detail.weight/1000 }}</span> kg) x
                                                           <span>{{ detail.price | currency: 'Rp ' : 'symbol': '1.0-0' | customCurrency}}</span>
                                                       </p>
                                                       <span></span>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="row--product__col">
                                               <div>
                                                   <span class="price-text">
                                                       {{ detail.total_price | currency: 'Rp ' : 'symbol': '1.0-0' | customCurrency}}
                                                   </span>
                                               </div>
                                           </div>
                                           <div class="row--product__col">
                                               <a (click)="goToProduct(detail.product_id)" class="btn btn-small btn-web">Beli Lagi</a>
                                           </div>
                                       </div>
                                       <!-- ./ end loop -->

                                    </div>
                                    <div class="oms-detail__row">
                                       <div class="oms-detail__col detail__row--width65">
                                          <div class="col__header mb-10">Pengiriman</div>
                                          <div class="row--label-desc label-desc--no-margin">
                                             <h5 class="mb-0">{{ selected.expedisi_name | uppercase }}</h5>
                                             <p class="mb-8">No. Resi: {{ selected.invoice }}</p>
                                             <p>Dikirim kepada <strong>{{ selected.receiver_name }}</strong></p>
                                             <p>{{ selected.address }}, {{ selected.to_village }}, {{ selected.to_district }}, {{ selected.to_city }}<br>
                                             {{ selected.to_province}}, {{ selected.to_postal_code }}</p>
                                             <p>Telp: {{ selected.hp }}</p>
                                          </div>
                                       </div>
                                       <div class="oms-detail__col detail__row--width35 detail__row--border-left">
                                          <div class="col__header mb-10">Info Produk</div>
                                          <div class="row--label-desc">
                                             <h6>Total Ongkir</h6>
                                             <p>{{ selected.expedisi_cost | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</p>
                                          </div>
                                          <div class="row--label-desc label-desc--no-margin">
                                             <h6>Biaya Asuransi </h6>
                                             <p>Rp 0</p>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="oms-detail__row">
                                       <div class="oms-detail__col detail__row--width65">
                                          <div class="col__header mb-10">Pembayaran</div>
                                          <div class="detail__row--border">
                                             <div class="item-list-light-grey info-text--capitalize">Jumlah barang</div>
                                             <div class="item-list-light-grey info-text--capitalize">Total Belanja</div>
                                             <div class="item-list-light-grey info-text--capitalize">Total Ongkir</div>
                                             <div class="item-list-light-grey info-text--capitalize">Biaya Asuransi </div>
                                             <div class="item-list-light-grey info-text--capitalize">Biaya Tambahan Penjual</div>
                                             <div class="item-list-light-grey">Total Pembayaran</div>
                                             <div class="item-list-light-grey">Metode Pembayaran</div>
                                          </div>
                                       </div>
                                       <div class="oms-detail__col detail__row--width35">
                                          <div class="col__header mb-10">&nbsp;</div>
                                          <div class="item-list-black info-text--capitalize">{{ selected.order_details ? selected.order_details.length : 0 }} jenis barang ({{ selected.weight / 1000 }} kg)</div>
                                          <div class="item-list-black info-text--capitalize">{{ selected.product_cost | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</div>
                                          <div class="item-list-black info-text--capitalize">{{ selected.expedisi_cost | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</div>
                                          <div class="item-list-black info-text--capitalize">{{ 0 | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</div>
                                          <div class="item-list-black info-text--capitalize">{{ selected.code_cost_unique | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</div>
                                          <div class="price-text mb-5" style="color:#cb7701">{{ selected.total_cost | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</div>
                                          <div class="item-list-black info-text--capitalize">{{selected.payment_name | uppercase}}</div>
                                       </div>
                                    </div>
                                    <div class="oms-detail__row" id="order-status-detail">
                                       <div class="oms-detail__col detail__row--width100">
                                          <div class="col__header mb-10">Status Pesanan</div>
                                          <div class="list-status-order">
                                             <div class="status-order__item" *ngFor="let tracker of selected.manifest.reverse()">
                                                <div class="status-order__col detail__row--width130">
                                                   <label class="status-order-info status-order-info--grey">
                                                      <span>Automatic Tracker</span>
                                                   </label>
                                                   <label class="status-order-info--time">{{tracker.manifest_date | date : 'fullDate' : undefined : 'id'}} {{tracker.manifest_time}}</label>
                                                </div>
                                                <div class="status-order__col detail__row--width80">
                                                   <div class="status-order__desc">
                                                      <p>{{tracker.manifest_description | titlecase}}</p>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="status-order__item" *ngIf="selected.status >= 1 && selected.status < 7">
                                                <div class="status-order__col detail__row--width130">
                                                   <label class="status-order-info status-order-info--grey">
                                                      <span>Siata.id</span>
                                                   </label>
                                                   <label class="status-order-info--time">{{selected.date_payment | date : 'fullDate' : undefined : 'id'}}</label>
                                                </div>
                                                <div class="status-order__col detail__row--width80">
                                                   <div class="status-order__desc">
                                                      <p>Pesanan sedang diproses.</p>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="status-order__item" *ngIf="selected.status >= 1 && selected.status < 7">
                                                <div class="status-order__col detail__row--width130">
                                                   <label class="status-order-info status-order-info--grey">
                                                      <span>Siata.id</span>
                                                   </label>
                                                   <label class="status-order-info--time">{{selected.date_payment | date : 'fullDate' : undefined : 'id'}}</label>
                                                </div>
                                                <div class="status-order__col detail__row--width80">
                                                   <div class="status-order__desc">
                                                      <p>Pembayaran sudah Diverifikasi.<br>Pembayaran telah diterima Siata.</p>
                                                   </div>
                                                </div>
                                             </div>
                                            <div class="status-order__item" *ngIf="selected.status == 7">
                                              <div class="status-order__col detail__row--width130">
                                                <label class="status-order-info status-order-info--grey">
                                                  <span>System</span>
                                                </label>
                                                <label class="status-order-info--time">{{selected.expired_time | date : 'full' : undefined : 'id'}}</label>
                                              </div>
                                              <div class="status-order__col detail__row--width80">
                                                <div class="status-order__desc">
                                                  <p>Pesanan anda telah kadaluarsa.</p>
                                                </div>
                                              </div>
                                            </div>
                                             <div class="status-order__item">
                                                <div class="status-order__col detail__row--width130">
                                                   <label class="status-order-info status-order-info--grey">
                                                      <span>System</span>
                                                   </label>
                                                   <label class="status-order-info--time">{{selected.date | date : 'fullDate' : undefined : 'id'}}</label>
                                                </div>
                                                <div class="status-order__col detail__row--width80">
                                                   <div class="status-order__desc">
                                                      <p>Menunggu proses pembayaran dan verifikasi pihak ketiga.</p>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="status-order__item">
                                                <div class="status-order__col detail__row--width130">
                                                   <label class="status-order-info status-order-info--grey">
                                                      <span>System</span>
                                                   </label>
                                                   <label class="status-order-info--time">{{selected.date | date : 'fullDate' : undefined : 'id'}}</label>
                                                </div>
                                                <div class="status-order__col detail__row--width80">
                                                   <div class="status-order__desc">
                                                      <p>Melakukan proses Check Out order.<br>Menunggu konfirmasi pembayaran.</p>
                                                   </div>
                                                </div>
                                             </div>

                                          </div>
                                        </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- ./ end modal -->
