.product-name{
    color:#2b2a2f;
    font-size:18px;
    /*font-weight:700;*/
    text-align:left;
    /*margin-top:20px;*/
    /*line-height:18px;*/
    margin-top: 0;
    padding: 8px;
    font-family: 'Calibri';
    background-color: #fafafa;
    /*border: 1px solid black;*/
}

.product-name span {
    color: #2b2a2f;
    padding-left: 0px;
    font-family: 'Calibri';
    font-weight: 500;
    margin-right: 3px;
}

.product-name a{
    /*color:#2b2a2f;*/
    color:#929292;
    text-decoration: none;
    cursor: pointer;
    /*padding-left: 5px;*/
    line-height: 1.3em;
    /*border: 1px solid black;*/
}

.fa-heart-o:before {
    content: "\f08a";
    color: #7de8b6;
}

.product-price{
    /*color:#7de8b6;*/
    color:#46B883;
    font-size:18px;
    margin-top:5px;
    /*padding-left: 15px;*/
    font-family: 'Calibri';
    width: 245px;
    background-color: #fafafa;
    /*border: 1px solid black;*/
    position: absolute;
    bottom: 25px;
}

.text{
    /*autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    max-height: 66px;
    line-height: 15px;
    text-overflow: ellipsis;
}


.product-price span{
    text-decoration: line-through;
    color:#878788;
    float: left !important;
    font-size: 12px;
    padding-left: 0px;
}

.product-price b{
    float: left !important;
    margin-left: 8px;
    font-weight: bold;
    font-size: 16px;
}

.product-price a{
    color: #7de8b6;
    float: right !important;
    cursor: pointer;
    text-decoration: none;
}

.box2 {
    width: 255px;
    height: 420px;
    /*border: 3px solid #73AD21;*/
    /*min-height: 390px;*/
    position : relative;
}

.images {
    /*height: 280px;*/
    /*width: 100%;*/
    height: 250px;
    width: 250px;
  /*width: auto;*/
  /*height: auto;*/
}

.img-prod {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.prod-desc {
    height: 130px;
    background-color: #fafafa;
    width: 100%;
    display: block;
    padding: 8px;
}
