<div class="col-md-4 col-sm-6 col-xs-12 prdct-grid" *ngFor="let productTile of products" lazy-load-images>
  <div class="box2">
    <div class="images">
      <a [routerLink]="['/', gender, productTile.sub_department_slug, productTile.kelompok_slug, productTile.product_slug]">
        <img alt="" class="img-responsive img-prod" [attr.data-src]="productTile.product_image | wrapImage">
      </a>
    </div>
    <div class="prod-desc">
      <div class="product-name">
        <span class="text">
          <b>{{productTile.brand}}</b> -
          <a [routerLink]="['/', gender, productTile.sub_department_slug, productTile.kelompok_slug, productTile.product_slug]">
            {{productTile.product_name}}
          </a>
        </span>
      </div>

      <div class="product-price">
        <div class="row">
          <div class="col-sm-10">
            <ng-template [ngIf]="productTile.promo_price">
              <span>{{productTile.price | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</span>
              <b>{{productTile.promo_price | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</b>
            </ng-template>
          </div>
          <div class="col-sm-10">
            <ng-template [ngIf]="!productTile.promo_price">
              <b>{{productTile.price | currency: 'Rp ' : 'symbol' : '1.0-0' | customCurrency}}</b>
            </ng-template>
          </div>

          <div class="col-sm-1">
            <a [(ngModel)]="productTile.isWishlist" (click)="tgButton(productTile)" class="favourite" ngDefaultControl>
              <i [@tgFavorite]="productTile.isWishlist ? 'actived' : 'unActive'" class="{{productTile.isWishlist ? 'fa fa-heart' : 'fa fa-heart-o'}}"></i>
            </a>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>
