<app-slider [gender]="gender"></app-slider>
<!-- Slider -->

<div class="clearfix"></div><br>
<div id="content">
  <!-- Content -->
  <div class="container">
    <div class="home-content">
      <div class="cat-offers">
        <div class="row">
          <app-slider-small1 [gender]="gender"></app-slider-small1>
          <app-slider-small2 [gender]="gender"></app-slider-small2>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <app-banner [gender]="gender"></app-banner>
  </div>

  <app-product-trending [gender]="gender"></app-product-trending>

  <app-product-category [gender]="gender"></app-product-category>
</div>
<!-- Content -->
